.dv-ForPartners{}
.dv-ForPartners .img-partner{
    margin-left: -20px;
}
.dv-ForPartners .section-heading{
    font-size: 30px;
}
.dv-ForPartners .no-gutters{
    margin:20px auto;
}
.dv-ForPartners .card-img{}
.dv-ForPartners .card-body{}
.dv-ForPartners .card-title{
    font-family: var(--ubuntuMedium);
    font-size: 16px;
}
.dv-ForPartners .card-text{
    color:var(--blue);
    font-size: 14px;
}
@media (max-width:991px){
    .dv-ForPartners .img-partner {
        display: none;
    }
}

@media (max-width:767px){
    .dv-ForPartners .img-partner {
        max-width: 200px;
    }
    .dv-ForPartners .card-img {
        max-width: 100px;
        margin-bottom: 15px;
    }
    .dv-ForPartners .card-body {
        padding-left: 0;
    }
    .dv-ForPartners .no-gutters {
        text-align: center;
    }
    .dv-ForPartners{
        margin-top: 0;
    }
}
