.dv-BankingServices{
    position: relative;
    margin: 0 auto;
    padding-top: 7rem;
    padding-bottom: 100px;
    color:var(--white);
}
.dv-BankingServices .first-bg{
    background: linear-gradient(200deg, #283c93 30%, #009cdc 85%, #00fb3d 95%);
    -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 70%, 30% 100%, 0 70%);
    clip-path: polygon(0 15%, 100% 0%, 100% 70%, 80% 100%, 0 87%);
    height: 100%;
}
.dv-BankingServices .second-bg{    
    background-color: #dcf3fa;
    clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
}

@media (max-width:767px){
    .dv-BankingServices .first-bg {
        clip-path: polygon(0 15%, 100% 0%, 100% 90%, 80% 100%, 0 87%);
    }
    .dv-ToolKit .card, .dv-FullControl .card {
        border-bottom: 1px solid #525f7f !important;
        border-radius: 0 !important;
    }
    .dv-FullControl .first-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 90%, 25% 100%, 0 95%);
    }
    .dv-ValueAdded .ul-points {
        margin-top: 0px;
    }
    .dv-ValueAdded .ul-points li{
        border:0;
    }
}
@media (max-width:640px){
    .dv-BankingServices .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 0% 85%, 0 85%);
    }
    .dv-BankingServices{
        margin-top: -202px;
        padding-top: 0;
    }
    .dv-BankingServices .section-heading{
        margin-top: 0 !important;
    }
}