.dv-MoreHelp{

}
.dv-MoreHelp img{
max-width: 100px;
margin: 0 1.5rem;
}
.dv-MoreHelp .card-title{
    font-weight: 600;
}
.dv-MoreHelp .card-text{}
.dv-MoreHelp .card{
    border: 0;
}
.dv-MoreHelp .card-body{
}
.dv-MoreHelp .card-footer{
    background-color: transparent;
    border: 0;
}
.dv-MoreHelp.dv-MoreHelp2 a.more{
    color: var(--lightblue);
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.dv-MoreHelp.dv-MoreHelp2 a.more:hover{
    color: #233dd2;
    display: block;
}
@media (max-width:767px){
    .dv-MoreHelp.dv-MoreHelp2 img{
        margin: 0 auto;
        }
}