* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-shadow: none;
}

@font-face {
    font-family: 'Open-Sans-Bold';
    src: url('../font/OpenSans-Bold.eot');
    src: url('../font/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Bold.woff2') format('woff2'),
        url('../font/OpenSans-Bold.woff') format('woff'),
        url('../font/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-Extra-Bold';
    src: url('../font/OpenSans-ExtraBold.eot');
    src: url('../font/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../font/OpenSans-ExtraBold.woff') format('woff'),
        url('../font/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-Light';
    src: url('../font/OpenSans-Light.eot');
    src: url('../font/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Light.woff2') format('woff2'),
        url('../font/OpenSans-Light.woff') format('woff'),
        url('../font/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-Regular';
    src: url('../font/OpenSans-Regular.eot');
    src: url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-Regular.woff2') format('woff2'),
        url('../font/OpenSans-Regular.woff') format('woff'),
        url('../font/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open-Sans-Semi-Bold';
    src: url('../font/OpenSans-SemiBold.eot');
    src: url('../font/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../font/OpenSans-SemiBold.woff2') format('woff2'),
        url('../font/OpenSans-SemiBold.woff') format('woff'),
        url('../font/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --blue: #141e64;
    --lightblue:#009cdc;
    --darkgreen:#2faa4a;
    --green: #00fb3d;
    --white: #ffffff;
    --black: #000000;
    --grey20: #7d7d7d;
    --grey50: #8e8e8e;
    --grey90: #404041;
    --lineargradient: linear-gradient(20deg, #283c93 30%, #009cdc 85%, #00fb3d 95%);
    --ubuntu: 'Open-Sans-Regular';
    --ubuntuMedium: 'Open-Sans-Semi-Bold';
    --ubuntuCondensed: 'Open-Sans-Light';
    --ubuntuLight: 'Open-Sans-Light';
    --ubuntuBold: 'Open-Sans-Bold';
    --ubuntuMono: 'Open-Sans-Bold';
    --ubuntuMonoBold: 'Open-Sans-Semi-Bold';
    --ubuntuExtraBold: 'Open-Sans-Extra-Bold';

}
button:focus{
    outline: 0px auto -webkit-focus-ring-color !important;
}
body {
    font: 400 15px/20px var(--ubuntuLight);
    position: relative;
}

.ubuntu {
    font-family: var(--ubuntu);
}

.ubuntuMedium {
    font-family: var(--ubuntuMedium) !important;
}

.ubuntuCondensed {
    font-family: var(--ubuntuCondensed);
}

.ubuntuLight {
    font-family: var(--ubuntuLight);
}

.ubuntuBold {
    font-family: var(--ubuntuBold);
}

.ubuntuMono {
    font-family: var(--ubuntuMono);
}

.ubuntuMonoBold {
    font-family: var(--ubuntuMonoBold);
}
.font-w4{
    font-weight: 400 !important;
}
.font-w5{
    font-weight: 500 !important;
}
.font-w6{
    font-weight: 600 !important;
}
.font-w7{
    font-weight: 700 !important;
}
.font-w8{
    font-weight: 800 !important;
}
.font-s13{
    font-size: 13x;
}
.font-s14{
    font-size: 14px;
}
.font-s15{
    font-size: 15px;
}
.font-s16{
    font-size: 16px;
}
.font-s17{
    font-size: 17px;
}
.font-s18{
    font-size: 18px;
}
.font-s19{
    font-size: 19px;
}
.font-s20{
    font-size: 20px;
}
.color-blue{
    color: var(--blue);
}
.color-lightblue{
    color: var(--lightblue);
}
.color-darkgreen{
    color: var(--darkgreen);
}
.color-lightgreen{
    color: var(--lightgreen);
}
.border-right{
    border-right: 1px solid #898989;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
.rupee{

}
.note{

}
.banner-shape {
    background: linear-gradient(18deg, #283c93 30%, #009cdc 85%, #00ff36 95%);
    clip-path: polygon(100% 0, 100% 70%, 80% 98%, 0 70%, 0 0);
}
.dv-HeroBanner{
    position: relative;
    margin: 0;
    min-height: auto;
    color:var(--white);
    /* as */
    padding: 40px 80px 80px 80px;
}
.first-bg{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.second-bg{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
section{
    /* as */
margin: 2rem auto;    
}
.section-heading {
    text-align: center;
    font-family: var(--ubuntuBold);
    font-weight: 600;
    color:var(--blue);
     /* as */
    padding: 20px 0 50px;
    font-size: 35px;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
}
.content-heading{
    font-weight: 600;
}
.btn-white-rounded {
    border-radius: 5px;
    background-color: #fff;
    color: var(--blue);
    text-transform: capitalize;
    padding: 0.5rem 2.0rem;
    transition: all 0.2s linear;   
    font-family: var(--ubuntuLight); 
}

.btn-white-rounded:hover {
    border-radius: 5px;
    background-color: var(--darkgreen) !important;
    color: #fff;
    padding: 0.5rem 2.0rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.btn-blue-rounded {
    border-radius: 5px;
    background-color: #009cdc;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.5rem 2.0rem;
    transition: all 0.2s linear;
    font-family: var(--ubuntuLight); 
}

.btn-blue-rounded:hover {
    border-radius: 5px;
    background-color: var(--darkgreen);
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.small-link{
font-size: 14px;
}
.small-link-before::before{
    content: "\f0a9";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 8px;
}
.small-link-after::after{
    content: "\f0a8";
    font: normal normal normal 14px/1 FontAwesome;
    padding-left: 8px;
}
.dropdown-item{
    color:var(--white);
}
.dropdown-menu .dropdown-item{
    color:#212529;
}
.dropdown-menu-product{
width: 600px;
}
.dropdown-menu-inner .heading {
    font-size: 0.85rem;
    font-weight: 600;
    color: var(--lightblue);
    margin-bottom: 10px !important;
}
.dropdown-menu-inner .btn-link{
font-weight: 500;
font-size: 0.8rem;
padding: 0.4rem 0rem !important;
}
.dropdown-menu-inner .btn-link:hover{
    color: var(--lightblue);
}
.dropdown-menu .dropdown-item {
    padding: 0.4rem 1rem;
}
.dv-login-container,.dv-bank-container,.dv-personaldoc-container,.dv-businessdoc-container,.dv-success-container {
    /* padding-top: 50px; */
    /* as */
    padding-top: 70px;
}
.dv-login-container .first-bg, .dv-address-container .first-bg, .dv-bank-container .first-bg, .dv-success-container .first-bg, .dv-personaldoc-container .first-bg, .dv-businessdoc-container .first-bg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background: linear-gradient(130deg, #283c93 35%, #009cdc 65%, #00fb3d 90%);
    clip-path: polygon(100% 0%, 100% 350px, 0 800px, 0 0);
}
.dv-form{
    background-color: var(--white);
    box-shadow: 0 0 5px var(--lightblue);
    padding: 20px 20px 0px 20px;
    border-radius: 10px;
}
.dv-bottom-bg{
    overflow: hidden;
    position: relative;
    height: 120px;
    margin: 0 -20px 0 0;
    border-radius: 10px;
}
.first-bottom-bg{
    position: absolute;
    bottom:0;
    right: 0;
    background: linear-gradient(210deg, #283c93 50%, #009cdc 90%);
    clip-path: polygon(100% 70%, 100% 100%, 0% 100%, 50% 5%);
    height: 100px;
    /* width: 300px; */
    /* as */
    width: 200px;
    z-index: 2;
}
.second-bottom-bg{
    position: absolute;
    bottom:0;
    right: 0;
    background: linear-gradient(210deg, #283c93 20%, #009cdc 50%);
    clip-path: polygon(100% 70%, 100% 100%, 0% 100%, 70% 0%);
    height: 100px;
    /* width: 300px; */
    /* as */
    width: 200px;
    z-index: 1;

}
ul.tick{

}
ul.tick li{
    list-style: none;
    background-image: url(../img/icons/tick-w.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 22px;
    padding: 10px 0 10px 35px;
    font-size: 1.12rem;
    font-family: var(--ubuntuMedium);
    font-weight: 400;
}
.dv-facility{
    background-color: #fff;
    padding: 20px 30px;
    margin: 20px auto;
}
.dv-facility.rounded-border-box{
    border-width: 0;
    border-style: solid;
    border-radius: 0px;
    border-color: rgba(15,25,91, 0.5);
    box-shadow: 0px 0px 5px 9px rgba(0,0,0,0.2);
}
.ul-facility{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.ul-facility li{
    list-style: none;
    background-image: url(../img/icons/tick.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: 22px;
    padding: 10px 0 10px 35px;
    font-size: 1.0rem;
    font-family: var(--ubuntuMedium);
    font-weight: 400;
    color: var(--lightblue);
}
.hr-white{
    border-bottom: 1px solid var(--white);
    display: block;
    margin-top: 10px;
    opacity: 0.5;
}
/* as */
a.text-white,a.color-lightblue{
    cursor: default;
}
a.text-white:hover, a.text-white:focus {
    color: #fff !important;
}
a.color-lightblue:hover, a.color-lightblue:focus {
    color: #009cdc !important;
}
.text-lightblue{
    color: var(--lightblue);
}
/* as */
.form-div{
    max-width: 450px;
}
.dv-instruction{
 margin-right: 70px;
 margin-top: 25px;
}
/* .doc-main-div .dv-instruction{
    margin-right: 0px;
} */
.progress-bar_wrap {
    width: 270px;
    height: 7px;
    background: #F6F6FA;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 0px;
    margin: 0 auto;
}
.progress-bar_item {
    display: inline-block;
    height: 100%;
    width: 25%;
    /* margin-right: .8%; */
    border-radius: 0px;
    float: left;
    transition: background-color .2s, visisility .1s;
}
.text-prog{
    color: #000;
    position: absolute;
    margin-top: 6px;
    font-size: 10px;
}
.progress-bar_item-1.active {
    background-color: #FF4B47;
}
.progress-bar_item-2.active {
    background-color: #F9AE35;
}
.progress-bar_item-3.active {
    background-color: #2DAF7D;
}
.progress-bar_item-4.active {
    background-color: #289c6f
}
.lipass li{
    float: left;
    font-size: 11px;
    width: 50%;
    list-style-position: inside;
    padding-left: 10px;
}
.lipass li:nth-child(even) {
    padding-left: 25px;
}
.lipass li.active{
    text-decoration: line-through;
    color: #2faa4a;
}
.egPass{
    margin-left: 10px;
}
.egPass li{
    list-style-type: none;
    font-size: 10px;
    color: #8898aa;
}
.dv-Registration-content{
    /* as */
    margin-top: 2rem;
}
/* .dv-Registration-content.doc-main-div{
    margin-top: 10rem;
} */
#Iframe1{
    position: absolute;
    bottom: 0;
}

/* .apply-job-form */
.apply-container{
    max-width: 600px;
    margin: 0 auto;
    border-radius: 0;
    border: 1px solid #76c685;
}
.apply-job-form{
    margin: 0 auto;
    max-width: 500px;
    padding: 20px 20px 0px 20px;
    border-radius: 0px;
}
.apply-container .form-options{
    border-radius: 0;
}
.apply-txt{
    font-weight: normal;
    font-family: var(--ubuntu);
    font-size: 30px;
    padding: 30px 0 30px;
}
.apply-job-form .req {
    color: red;
}
.confmsg3{
    display: none;
    text-align: center;
}
.apply-job-form .form-group {
    margin-bottom: 2rem;
}
.apply-job-form .form-check{
    margin-top: 0px;
    margin-bottom: 1rem;
}
.apply-job-form .form-check-input{
    border-radius: 0;
    border: 1px solid #76c685;
}
.apply-job-form .submitbtn1 {
    color: white;
    background-color: #32ab49;
    background: #32ab49 0% 0% no-repeat padding-box;
    border-radius: 0px;
    opacity: 1;
    width: 175px;
    height: 48px;
    margin-bottom: 30px;
    border: 0;
}
.inputfile {
    /* width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; */
    position: absolute;
    width: 100%;
    height: 26px;
    border-radius: 0;
    cursor: pointer;
}
input[type=file]::file-selector-button{
    display: none;
}
.file-upload-wrapper{
    position: relative;
}
.upld-Btn{
    float: right;
    background-color: #32ab49;
    padding: 2px 8px;
    color: #fff;
    margin-top: -1px;
}
.ulpd-div .form-control{
    border-radius: 0;
}
.upld-file-ft{
    color: #a8b1b9;
    font-size: 14px;
}
.btn-back{
    color: var(--black);
    font-size: 15px;
    transition: all 0.2s linear;
    margin-top: 20px;
    float: right;
}
.btn-back::after{
    content: "\279F";
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
    line-height: 1;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    margin-left: 4px;
    transform: rotate(180deg);
}
.btn-back:hover{
    background-color: var(--white);
    color: var(--black);
}
.op-txt{
    float: left;
}
.font26{
    font-size: 26px;
}
.mrg-10{
    margin-bottom: 10px;
    display: block;
}


@media (max-width:1199px){
    /* as */
    .dv-instruction{
        margin-right: 30px;
    }
    /* .doc-main-div .dv-instruction{
        margin-right: 0px;
    } */
}
@media (max-width:1199px) and (min-width: 991px) {
    .dv-personaldocpub-container .border-heading,.dv-businessdocpub-container .border-heading{
        font-size: 32px;
    }
}
@media all and (max-width: 991px) and (min-width: 768px) {
    .form-div .form-group{
        max-width: 250px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .form-div .btn-gradient, .form-div a.btn-gradient,.form-div .btn-green,.form-div a.btn-green{
        width: 85%;
    }
    
    .first-bottom-bg{
       width: 150px;
    }
    .second-bottom-bg{
       width: 150px;
    }
    .dv-doc{
        padding: 15px;
    }
    .lipass li:nth-child(even) {
        padding-left: 10px;
    }
    .progress-bar_wrap {
        width: 250px;
    }
    .dv-personaldocpub-container .border-heading,.dv-businessdocpub-container .border-heading{
        font-size: 24px;
    }
}
@media (max-width:991px){
     /* as */
    .dv-HeroBanner {
         padding: 80px ;
    }
    .dv-instruction{
        margin-right: 0px;
    }
    .doc-main-div .dv-instruction{
        margin-right: 0px;
    }
    .mx-note {
        max-width: 230px;
    }
    .dv-step {
        margin-bottom: 20px;
     }
     .dv-step .step::after{
         left:64px;
     }
     .dv-instruction .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
     }
    .ul-facility li{
        padding: 10px 20px 10px 35px;
    }
}
@media (max-width:767px){
    .card, .card .card-img-top{
        text-align: center !important;
    }
 .herobanner-heading{
    font-size: 23px;
}
.dv-HeroBanner {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
section{
margin: 4rem auto;    
}
    .section-heading,.border-heading{
        font-size: 25px;
        padding-bottom: 30px;
    }
    .dv-call .section-heading{
        font-size: 20px;
    }
    .btn-blue-rounded{
        padding: 0.5rem 1.0rem;
    }
    .dv-Footer .footer-left-bg {
        background: linear-gradient(50deg, #283c93 50%, #009cdc 75%, #00fb3d 85%);
        clip-path: polygon(100% 10%, 0 0, 0 100%);
    }
    .dv-Footer .footer-right-bg {
        background: linear-gradient(18deg, #283c93 50%, #009cdc 80%, #00ff36 95%);
        clip-path: polygon(100% 3%, 100% 100%, 0 100%, 0% 8%);
    }
    .dv-Footer .footer-container {
        padding-top: 140px;
        padding-bottom: 100px;
    }
    .sp-img{
        display: none;
    }
    .dv-Registration-content{
        /* as */
        margin-top: 1rem;
    }
    .dv-Registration-content.doc-main-div{
        margin-top: 1rem;
    }
    .dv-instruction{
        margin-bottom: 30px;
    }
    .img-thankyou{
        margin-top: 30px;
    }
    
    .resp-none{
        display: none;
    }
    .img-call{
        display: none;
    }
    .rep-text-center{
        text-align: center;
    }
    .rep-text-center .text-left{
        text-align: center !important;
    }
    .rep-text-center.text-left{
        text-align: center !important;
    }
    .rep-text-center.text-right{
        text-align: center !important;
    }
    .ul-position .rep-text-center.text-right{
        text-align: left !important;
    }
    .dv-facility{
        padding: 20px 0px;
    }
    .ul-facility li {
        padding: 10px 10px 10px 35px;
        flex: 0 0 45%;
        max-width: 45%;
        font-size: 0.9rem;
    }
    .pd-bt0{
        padding-bottom: 0 !important;
    }
    .mg-tp0{
        margin-top: 0 !important;
    }
    .pd-tp-0{
       padding-top: 0 !important;
    }
    
}
@media (max-width:576px){    
    .career-points{
       padding: 0 15px;
    }
}
@media (max-width:480px){
    .dv-login-container .first-bg, .dv-address-container .first-bg, .dv-bank-container .first-bg, .dv-success-container .first-bg, .dv-personaldoc-container .first-bg, .dv-businessdoc-container .first-bg{
    -webkit-clip-path: polygon(100% 0%, 100% 530px, 0 800px, 0 0);
    clip-path: polygon(100% 0%, 100% 530px, 0 800px, 0 0);
    background: linear-gradient(130deg, #283c93 35%, #009cdc 90%, #00fb3d 90%);
}
.first-bottom-bg{
    width: 150px;
 }
 .second-bottom-bg{
    width: 150px;
 }
 .rep-wd-100{
    flex: 0 0 100%;
    max-width: 100%;
 }
}
@media (max-width: 360px){
    .first-bottom-bg{
        width: 140px;
     }
     .second-bottom-bg{
        width: 140px;
     }
     .dv-help{
         left: 0;
     }

    /* .apply-job-form */
    
    .apply-job-form .form-check-input {
        margin-left: -25px;
    }
    .section-heading.apply-txt{
        font-size: 22px;
    }
    .inputfile{
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .form-check-label {
        max-width: 250px;
    }
    .font26 {
        font-size: 22px;
    }
}
