@font-face {
    font-family: 'ubuntu-ff-l';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/Ubuntu-L.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/Ubuntu-L.ttf") format('truetype'),
    url("../font/ubuntu-font-family/Ubuntu-LI.ttf") format('truetype')
  }
  
  @font-face {
    font-family: 'ubuntu-ff-r';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/Ubuntu-R.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/Ubuntu-R.ttf") format('truetype'),
    url("../font/ubuntu-font-family/Ubuntu-RI.ttf") format('truetype')
  }
  
  @font-face {
    font-family: 'ubuntu-ff-b';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/Ubuntu-B.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/Ubuntu-B.ttf") format('truetype'),
    url("../font/ubuntu-font-family/Ubuntu-BI.ttf") format('truetype')
  }
  
  @font-face {
    font-family: 'ubuntu-ff-m';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/Ubuntu-M.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/Ubuntu-M.ttf") format('truetype'),
    url("../font/ubuntu-font-family/Ubuntu-MI.ttf") format('truetype')
  }
  
  @font-face {
    font-family: 'ubuntu-ff-mono-b';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/UbuntuMono-B.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/UbuntuMono-B.ttf") format('truetype'),
    url("../font/ubuntu-font-family/UbuntuMono-BI.ttf") format('truetype')
  }
  
  @font-face {
    font-family: 'ubuntu-ff-mono-r';
    font-display: block;
    font-weight: 400;
    src: url("../font/ubuntu-font-family/UbuntuMono-R.ttf") format('truetype');
    src: url("../font/ubuntu-font-family/UbuntuMono-R.ttf") format('truetype'),
    url("../font/ubuntu-font-family/UbuntuMono-RI.ttf") format('truetype')
  }

















@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu.ttf') format('truetype');
    src: url('../font/Ubuntu.ttf') format('truetype'),
        url('../font/Ubuntu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Medium.eot');
    src: url('../font/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/Ubuntu-Medium.woff2') format('woff2'),
        url('../font/Ubuntu-Medium.woff') format('woff'),
        url('../font/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Condensed';
    src: url('../font/UbuntuCondensed-Regular.eot');
    src: url('../font/UbuntuCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/UbuntuCondensed-Regular.woff2') format('woff2'),
        url('../font/UbuntuCondensed-Regular.woff') format('woff'),
        url('../font/UbuntuCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../font/Ubuntu-Light.eot');
    src: url('../font/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Ubuntu-Light.woff2') format('woff2'),
        url('../font/Ubuntu-Light.woff') format('woff'),
        url('../font/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../font/Ubuntu-Bold.eot');
    src: url('../font/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Ubuntu-Bold.woff2') format('woff2'),
        url('../font/Ubuntu-Bold.woff') format('woff'),
        url('../font/Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Mono';
    src: url('../font/UbuntuMono-Regular.eot');
    src: url('../font/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/UbuntuMono-Regular.woff2') format('woff2'),
        url('../font/UbuntuMono-Regular.woff') format('woff'),
        url('../font/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu-Mono-Bold';
    src: url('../font/UbuntuMono-Bold.eot');
    src: url('../font/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/UbuntuMono-Bold.woff2') format('woff2'),
        url('../font/UbuntuMono-Bold.woff') format('woff'),
        url('../font/UbuntuMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
