.dv-ToolKit{
    background-color: #dcf3fa;
    margin: 0 auto;
    padding:5rem 0;
}
.dv-ToolKit .section-heading{
    padding-bottom: 20px;
}
.dv-ToolKit .card{
    border:0;
    border-top: 10px solid transparent;
    border-radius: 15px;
    margin: 20px auto;
    background-color: transparent;
}
.dv-ToolKit .card:hover{
border-top-color: var(--green);
    background-color: var(--white);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}
.dv-ToolKit .card-img-top{
    max-width: 80px;
    margin: 10px 25px 0;
}
.dv-ToolKit .card-body{
    padding-bottom: 0.9rem;
}
.dv-ToolKit .card-text{}

@media (max-width:767px){
    .dv-ToolKit .card-img-top {
        margin: 10px auto 0;
    }
}
@media (max-width:640px){
    .dv-ToolKit{
        padding: 0 0 5rem 0;
    }
}