.dv-Footer{
    position: relative;
}
.dv-Footer .footer-left-bg{
    background: linear-gradient(50deg, #283c93 20%, #009cdc 35%, #00fb3d 45%);
    clip-path: polygon(100% 60%, 0 0, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;

}
.dv-Footer .footer-right-bg{
    background: linear-gradient(18deg, #283c93 15%, #009cdc 70%, #00ff36 94%);
    clip-path: polygon(100% 10%, 100% 100%, 0 100%, 0% 30%);
}
.dv-Footer .copy{
    color: var(--white);
    font-size: 12px;
}
.dv-Footer .link-heading{
    color: var(--white);
    font-weight: bold;
}
.dv-Footer .link{
    color: var(--white);
    display: block;
    margin: 18px auto;
}
.dv-Footer .slink{
    margin-top: 30px;
}
.dv-Footer a.link{
    color: var(--white);
    transition: all .2s linear;
}
.dv-Footer a.link:hover{
    text-shadow: 3px -2px 4px rgba(0,0,0,0.6);
}
.dv-Footer span.link{}
.dv-Footer .img-certificate{
    width: 50%;
    display: block;
    margin:0;
    padding: 5px;
    cursor: pointer;
}
.dv-Footer .social-icon{
    display: inline-block;
    width: 36px;
}
.dv-Footer .footer-text{
    font-size: 14px;
}
.dv-Footer .footer-logo{
    margin-left: -20px;
}
.dv-Footer .footer-container{
    padding-top: 250px;
}
.footerModal .modal-title{
    position: relative;
    font-weight: 600;
}
.footerModal .modal-header .close {
    padding: 0px;
    margin: 0 auto;
    position: absolute;
}
.dv-Footer .ft-pdl0{
    padding-left: 0;
}
.dv-Footer .sc-txt{
    margin-top: 34px;
}
.dv-Footer .mg-img-top{
    margin-top: 18px;
}
.dv-Footer .dbst{
    cursor: default;
}

@media (max-width:991px){
.dv-Footer .social-wrap{
    width: 75%;
}
}

@media (max-width:767px){
    .dv-Footer .mg-img-bot{
        margin-bottom: 18px;
    }
}
@media (max-width:576px){
    .dv-Footer .img-certificate{
        width: 80px;
    }
    .dv-Footer .link-heading{
        margin-top: 20px;
    }
    .dv-Footer .sc-txt {
        margin-top: 34px;
    }
    .dv-Footer .copy {
         margin-bottom: 1.5rem !important;
    }
    .dv-Footer .social-wrap{
        width: 100%;
    }
}
@media (max-width:479px){
    .dv-Footer .footer-logo{
        width: 65% !important;
    }
}