.dv-Mission{
position: relative;
color: var(--white);
margin-top: 5rem;
    margin-bottom: 10rem;
}
.dv-Mission .first-bg{
    background: linear-gradient(220deg, #283c93 30%, #009cdc 85%, #00ff36 95%);
    clip-path: polygon(0 25%, 100% 0%, 100% 75%, 75% 100%, 0 85%);
    padding: 150px 0 100px;
    margin-top: 100px;
}
.dv-Mission .card-img-top{
    max-width: 150px;
}
.dv-Mission .row .section-heading{
    line-height: 1.2;
    padding-left: 15px;
}

@media (max-width:767px){
        .dv-Mission .first-bg{
            clip-path: polygon(0 10%, 100% 0%, 100% 85%, 75% 95%, 0 90%);
            margin-top: 200px;
        }
        .dv-Mission .card-img-top{
            max-width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
}
@media (max-width:640px){
    .dv-Mission .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 75% 85%, 0 85%);
    }   
    .dv-Mission{
        margin-bottom: 8rem;
    }
}
@media (max-width:430px){
    .accText{
        padding-bottom: 0 !important;
    }
}