.dv-first-payment-bg{
    background: linear-gradient(18deg, #213283 45%, #283c93 45%, #009cdc 80%, #00fb3d 95%);
    clip-path: polygon(10% 0, 100% 20%, 100% 69%, 0 100%, 0 15%);
    padding: 90px 0 90px;

}
.dv-second-payment-bg{
background: #f5f6f6;
clip-path: polygon(100% 0, 100% 83%, 0% 100%, 0 17%);
padding: 150px;
margin-top: -170px;
}
.dv-third-payment-bg{
    background: linear-gradient(220deg, #283c93 30%, #009cdc 85%, #00ff36 95%);
    clip-path: polygon(0 28%, 100% 0%, 100% 75%, 75% 100%, 0 85%);
    padding: 150px 0 100px;
    margin-top: -170px;
    position: relative;
    z-index: 1;
}
.dv-PaymentOptions .dv-fourth-payment-bg{    
    padding: 150px 0 100px;
    margin-top: -170px;
    position: relative;
}
.dv-PaymentOptions .dv-fourth-payment-bg-left{
    background-color: #f6f6f6;
    clip-path: polygon(0 10%, 100% 0%, 100% 60%, 40% 100%, 0 60%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.dv-PaymentOptions .dv-fourth-payment-bg-right{
    background-color: #f2f2f2;
    clip-path: polygon(0 10%, 100% 0%, 100% 70%, 70% 93%, 0 20%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
@media all and (max-width: 991px) and (min-width: 768px) {
    .imgpay{
        width: 75% !important;
    }
}
@media (max-width:767px){
    .dv-first-payment-bg {
        clip-path: polygon(20% 0, 100% 10%, 100% 81%, 0 100%, 0 15%);
    }
    .dv-second-payment-bg {
        clip-path: polygon(100% 0, 100% 89%, 0% 100%, 0 8%);
        padding: 100px 0 150px;
    }
    .dv-third-payment-bg {
        clip-path: polygon(0 20%, 100% 0%, 100% 85%, 75% 100%, 0 90%);
    }
    .dv-PaymentOptions .dv-fourth-payment-bg-left {
        clip-path: polygon(0 10%, 100% 0%, 100% 80%, 40% 100%, 0 80%);
    }
    .dv-PaymentOptions .dv-fourth-payment-bg-right {
        clip-path: polygon(0 10%, 100% 0%, 100% 89%, 72% 98%, 0 20%);
    }
    .dv-logos img {
        max-width: 90px;
        max-height: inherit;
        margin: 10px;
    }
    .icons {
        margin: 10px 15px;
    }
    .dv-icons img {
        width: 50px;
    }
    .dv-icons .lbl {
        font-size: 0.75rem;
    }
    .dv-icons .lbl span {
        font-size: 9px;
        line-height: 0.8;
    }
    .imgpay{
        margin-left: 50px;
    }
}