.dv-Who{
background-image:url(../../assets/img/backgrounds/pricing.jpg) ;
background-repeat: no-repeat;
background-position: center 0;
background-size:100% 80%;
margin-top: 0;
padding-top: 8rem;
}
.dv-Who .rounded-border-box{
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.dv-Who .content{
    background-color: var(--white);
    text-align: center;
    padding: 40px;
}
.dv-Who .card-img-top{
    max-width: 100px;
}
.dv-Who h3{
    margin: 20px auto;
    font-family: var(--ubuntuMedium);
}
.dv-Who{

}
.dv-Who .map{
    background-image:url(../../assets/img/icons/map.png) ;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size:20px;
    padding-left:30px;
    width: 80px;
    margin: 0 auto;
    font-weight: 600;
}
@media (max-width:767px){
    .dv-Who{
        padding-top:4rem ;
        background-size:100% 200px;
        
        }
        
.dv-Who .rounded-border-box{
    /* border-width:10px;
    border-radius:10px; */
    }
.dv-Who .content{
    padding: 10px;
}
.dv-Who .card-img-top{
    max-width: 70px;
}
.dv-Who h3{
    margin: 10px auto;
    font-size: 1.2rem;
}
}