.dv-SupportingAggregators{
position: relative;
padding-bottom: 20px;
}
.dv-SupportingAggregators .first-bg{
    background-color: #f6f6f6;
    clip-path: polygon(0 0%, 100% 0%, 100% 50%, 30% 100%, 0 50%);
}
.dv-SupportingAggregators .second-bg{
    background-color: #f2f2f2;
    clip-path: polygon(0 0%, 100% 0%, 100% 65%, 60% 97%, 0 20%);
}
.dv-SupportingAggregators .dv-logo{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.dv-SupportingAggregators .dv-logo .img-fluid{
    margin: 10px 25px;
    max-width: 140px;
}
@media (max-width:767px){
.dv-SupportingAggregators .first-bg{
    clip-path: polygon(0 0%, 100% 0%, 100% 80%, 30% 100%, 0 90%);
}
.dv-SupportingAggregators .second-bg{
    clip-path: polygon(0 0%, 100% 0%, 100% 85%, 60% 97%, 0 70%);
}
.dv-SupportingAggregators .dv-logo .img-fluid {
    margin: 5px 15px;
    max-width: 120px;
}
}
@media (max-width:640px){
    .dv-SupportingAggregators .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 80%, 100% 100%, 0 100%);
    }
    .dv-SupportingAggregators .second-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 60% 97%, 0 70%);
    }
    .dv-SupportingAggregators{
         margin-top: -80px !important;
    }
}