.dv-Career{}
.dv-Career .ul-position{
    
}
.dv-Career .li-position{
    font-family: var(--ubuntuMedium);
    font-size: 16px;
    font-weight: 500;
    padding: 30px 20px;
}
.dv-Career .lblPosition{
    color: var(--blue);
    margin: 8px auto;
    font-size: 17px;
}
.dv-Career .lblLocation{
    font-weight: 700;
    margin: 5px auto;
}
.dv-Career .lblTime{
    margin: 5px auto;
}
.dv-Career .lblExp{
    margin: 5px auto;
}
.dv-Career .btn-Apply{
    border: 1px solid var(--lightblue);
    border-radius: 0;
    padding: 8px 20px;
    font-size: 16px;
    text-transform: inherit;
    font-family: var(--ubuntuMedium);
    font-weight: normal;
}
.dv-Career .btn-Apply:hover{
    background-color: var(--darkgreen);
    color: var(--white);
    border-color: var(--darkgreen);
}
.dv-Career .nav-tabs{
    text-align: center;
    align-content: space-between;
    max-width: 650px;
    margin: 30px auto;
    border-bottom: 0;
}
.dv-Career .nav-tabs .nav-link{
    border: 1px solid var(--lightblue);
    color: var(--blue);
    font-size: 1.2rem;
    border-radius: 0;
    padding: 20px 40px;
    font-weight: 800;
    margin: 0 auto;
    transition: all 0.2s linear;
}
.dv-Career .nav-tabs .nav-link.active, .dv-Career .nav-tabs .nav-item.show .nav-link,
.dv-Career .nav-tabs .nav-link:hover{
    background-color: var(--darkgreen);
    border-color: var(--darkgreen);
    color: var(--white);
}
.dv-Career .tab-content{
    max-width: 650px;
    margin: 0 auto;
}
.career-txt-heading{
    color: var(--blue);
    font-weight: 600;
    border-bottom: 1px solid #cccccc;
    width: 90%;
    margin-left: 30px;
    padding-bottom: 3px;
}
.dv-Career .tab-pane{}
.dv-Career .tab-pane.active{}
.dv-Career {}

@media (max-width:767px){
    .dv-Career .nav-tabs .nav-link{
        padding: 15px 10px;
    }
    .dv-Career .btn-Apply{
        margin-top: 15px;
    }
}
@media (max-width:480px){
    .dv-Career .nav-tabs{
        max-width: 350px;
    }
    .dv-Career .nav-tabs .nav-link{
        margin-bottom: 15px;
        padding: 15px;
    }
    .career-txt-heading{
        margin-left: 15px;
    }
    .dv-Career .li-position {
        padding: 30px 10px;
    }
    
}