.dv-img-show{
background-color: transparent;
border-radius: 25px;
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
height: 100%;
display: flex;
    align-items: center;
}
.dv-FullyCustomised{
position: relative;
padding: 200px 0;
margin-bottom:0;
}
.dv-FullyCustomised .first-bg{
    background: linear-gradient(220deg, #283c93 30%, #009cdc 85%, #00ff36 95%);
    clip-path: polygon(0 25%, 100% 0%, 100% 65%, 75% 100%, 0 85%);
    height:100%;
}
.dv-FullyCustomised .second-bg{
    background-color: #f6f6f6;
    clip-path: polygon(0 0%, 100% 40%, 100% 100%, 0% 100%);
}
.dv-FullyCustomised .section-heading{
    padding-bottom:10px;
}
.accordion{
    color: var(--white);
}
.acc-FullyCustomised{
    color: var(--white);
}
.acc-FullyCustomised .acc-launcher{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px auto;
}
.acc-FullyCustomised .opened{}
.acc-FullyCustomised .heading{
    display: flex;
    align-items: center;
    color: var(--white);
    padding:5px;
}
.acc-FullyCustomised .heading .img-fluid{
    max-width: 35px;
    margin-right: 15px;
}
.acc-FullyCustomised .dashboard{}
.acc-FullyCustomised .email{}
.acc-FullyCustomised .checkout{}
.acc-FullyCustomised .description{
    padding:10px;
}
.acc-FullyCustomised .opened .description{
    display: block;
}


@media (max-width:767px){
    .dv-FullyCustomised .first-bg {
        clip-path: polygon(0 18%, 100% 0%, 100% 85%, 75% 100%, 0 85%);
    }
    .dv-img-show {
        min-height: 300px;
    }
    .dv-img-show{    
        margin-right: 0px;
    }
    .acc-FullyCustomised .heading{
        margin: 0 auto;
    }
    .acc-FullyCustomised .description{
        text-align: center;
    }
    .dv-img-show{
        min-height: 150px;
    }
    .dv-FullyCustomised {
        padding: 0px ;
        padding-top: 75px;
    }
}
@media (max-width:640px){
    .dv-FullyCustomised .first-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 100% 85%, 0 85%);
    }
    .dv-FullyCustomised .second-bg {
       clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
       background-color: transparent;
    }
    .dv-FullyCustomised{
        padding: 0;
        margin: 0;
    }
    .dv-MoreHelpReseller{
        margin-top: 0;
    }
}
@media screen and (min-width:769px) and (max-width:1366px){
    .dv-img-show{    
        margin-right: -40px;
    }
}

@media(min-width:1367px){
    .dv-img-show{    
        margin-right: 40px;
    }
}