.dv-pricing{
    position: relative;
    padding-bottom:450px;
}
.dv-pricing .dv-header{
    background-color: #2faa4a;
}
.dv-pricing .dv-header .heading{
font-family: var(--ubuntuMedium);
font-size: 35px;
padding-left: 50px;
color: #fff;
text-transform: none;
padding-bottom: 0;
margin-bottom: 0;
padding-top: 10px;
}
.dv-pricing .dv-header .sub-heading{
padding-left: 50px;
font-family: var(--ubuntuLight);
font-size: 20px;
    color: #fff;
}
.dv-pricing .dv-header .sub-heading .rupee{
    font-size: 25px;
    padding-left: 10px;
}
.dv-pricing .dv-header .sub-heading .rupee::before{
    color: #fff;
    content: "\20B9";
    font-size: 25px;
    font-family: var(--ubuntuLight);
    position: relative;
    left: -4px;
}
.dv-pricing .dv-header .btn-free{
    border: 2px solid #fff;
    color: #fff;
    font-family: var(--ubuntuBold);
    font-size: 50px;
    width: 60%;
    margin: 0 auto;
    line-height: 1;
    border-radius: 0;
    box-shadow: none;
}
.dv-pricing .dv-header .btn-free:hover{
box-shadow: none;
transform: translateY(0px);
}

.dv-pricing-bg-left{
    background: linear-gradient(18deg, #283c93 35%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(0 0%, 100% 0%, 100% 60%, 55% 95%, 0 60%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.dv-pricing-bg-right{
    background: linear-gradient(100deg, #283c93 35%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(0 10%, 100% 0%, 90% 65%, 35% 100%, 0 55%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
.dv-pricing .rounded-border-box{
    /*box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);*/
    border-width: 0;
    border-style: solid;
    border-radius: 0px;
    border-color: rgba(15,25,91, 0.5);
    box-shadow: 0px 0px 5px 9px rgba(0,0,0,0.2);
}
.dv-pricing .dv-price-left{
    background-color: #fff;
    padding-left: 50px;
    padding-right: 50px;
}
.dv-pricing .dv-price-right{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f2;
}
.dv-pricing .dv-price{
    padding: 20px 10px 10px;
    border-bottom: 1px solid #959595;
}
.dv-pricing .lbl-name{
    font-family: var(--ubuntuBold);
    display: block;
    color: #625a67;
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.dv-pricing .lbl-price{
    font-size: 60px;
    font-family: var(--ubuntuMedium);
    padding: 20px;
    display: block;
    color:#434344;
    position: relative;
}
.dv-pricing .lbl-price::before{
    color: #434344;
    content: "\20B9";
    font-size: 30px;
    font-family: var(--ubuntuLight);
    position: absolute;
    left: 3px;
    top: 12px;
    font-weight: 600;
}
.dv-pricing .lbl-price::after{
    color: #2faa4a;
    content: "*";
    font-size: 30px;
    position: absolute;
    top:13px;
}
.dv-pricing .lbl-amount{
    font-weight: 600;
    color:#878690;
}
.dv-pricing .rupee{}
.dv-pricing .dv-note{
    background-color: #2faa4a;
    color: #e2f3e6;
}
.dv-pricing .note{
    text-align: right;
    padding: 13px;
    margin: 0;
    font-size: 14px;
}
.dv-pricing .dv-custom-help1{
    margin-top: -10px;
}
.dv-pricing .dv-custom-help{
    background-color: #fff;
    padding-left: 150px;
    padding-bottom:40px;
    margin-top: 50px;
}
.dv-pricing .btn-blue-rounded{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    margin-top: 10px;
}
.dv-pricing .btn-blue-rounded:hover {
    border-radius: 5px;
    background-color: #2faa4a;
    background-color: var(--darkgreen);
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.dv-pricing .btn-talk{
    border-radius: 5px;
}
.dv-pricing{}

@media (max-width:767px){
    .dv-pricing-bg-left {     
        clip-path: polygon(0 0%, 100% 0%, 100% 80%, 55% 95%, 0 80%);
    }
    .dv-pricing-bg-right {
        clip-path: polygon(0 10%, 100% 0%, 90% 80%, 35% 95%, 0 80%);
    }
    .dv-pricing{
        text-align: center;
    }
    .dv-pricing .lbl-price::before {
        position: relative;
        left: -3px;
        top: -20px;
    }
    .dv-pricing .rounded-border-box {
        /* box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
        border-width: 15px;
        border-radius: 15px; */
    }
    .dv-pricing .dv-price-left {
        padding-left: 20px;
        padding-right: 20px;
    }    
    .dv-pricing .dv-price-right {
        padding-left: 20px;
        padding-right: 20px;
    }
    .dv-pricing .note {
        padding: 13px 0;
        font-size: 12px;
    }
    .dv-pricing .dv-custom-help {
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .dv-pricing .dv-header .btn-free{
        margin-bottom: 15px;
    }
    .dv-facility {
        padding: 20px ;
    }
    .dv-pricing .ul-facility li {
        padding: 10px 10px 10px 30px;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        font-size: 0.9rem;
    }
    .dv-pricing .dv-header .heading{
        padding-left: 0;
    }
    .dv-pricing .dv-header .sub-heading{
        padding-left: 0;
    }
}
@media (max-width:640px){
    .dv-pricing-bg-left {     
        clip-path: polygon(0 0%, 100% 0%, 100% 80%, 0% 80%, 0 80%);
    }
    .dv-pricing-bg-right {
        clip-path: polygon(0 10%, 100% 0%, 90% 80%, 35% 80%, 0 80%);
    }
    .dv-pricing{
        padding-bottom: 0;
    }
    .dv-PricingHeroBanner{
        padding-top: 4rem !important;
    }
}
@media (max-width:480px){
    .dv-pricing .ul-facility li {
        padding: 10px 10px 10px 40px;
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 0.9rem;
        text-align: left;
    }
    .dv-pricing .ul-facility{
        display: block;
    }
    .dv-pricing .dv-header .sub-heading{
       font-size: 18px;
    }

}