.dv-StartupPricing{
    
}
.dv-StartupPricing-content{

}
.dv-StartupPricing-content .btn{
    border-radius: 0px;
    border: 1px solid var(--lightblue);
    background-color: var(--white);
    color: var(--blue);
    font-weight: 500;
    text-transform: capitalize;
    padding: 0.8rem 2.0rem;
    transition: all 0.2s linear;
    font-family: var(--ubuntuMedium); 
    font-size: 1.2rem;
    margin: 0 auto;
    width: 100%;
}

.dv-StartupPricing-content .btn:hover, .dv-StartupPricing-content .btn.active {
    border-radius: 0px;
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: var(--white);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5) !important;
}
.dv-bestSeller{
    transition: all 0.2s linear;
}
.dv-percentage{
    align-self: center;
    padding: 20px 20px 10px;
    background-color: var(--darkgreen);
    margin: 100px auto 0;
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    height: 270px;    
    margin-left: 30px;
}
.dv-percentage label{
    font-size: 3rem;
    font-family: var(--ubuntuBold);
    display: block;
    border: 2px solid var(--white);
    padding: 63px 40px;
    line-height: 2;
    position: relative;
    margin-bottom: 0;
}
.dv-percentage sup{
    font-size: 20px;
    position: relative;
    top: -25px;
}
.dv-StartupPricing-content .section-heading{
    padding-bottom: 10px;
    padding-top: 70px;
    text-align: left;
    margin-left: 0;
}
.dv-StartupPricing-content .tick{}
.dv-StartupPricing-content .tick li{
    background-image: url(../../assets/img/icons/tick.png);
    background-position: 0 12px;
    padding-bottom: 18px;
}
.dv-StartupPricing-content .tick strong{
    font-size: 22px;
}
.dv-StartupPricing-content .tick span{
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
.dv-StartupPricing-content .dv-note{
    background-color: var(--grey20);
    color: var(--white);
    font-size: 12px;
    padding: 10px 15px;
}
.dv-allPaymentMethods{
    transition: all 0.2s linear;
}
.dv-allPaymentMethods .dv-percentage{
    height: auto;
    padding: 10px;
    margin-left: 0;
}
.dv-allPaymentMethods .dv-percentage label{
    padding: 10px;
    line-height: normal;
    margin-bottom: 0;
}
.dv-allPaymentMethods .dv-percentage sup{}
.dv-allPaymentMethods .section-heading,.dv-StartupPricing-content .section-heading{
    font-size: 1.8rem;
    padding-left: 10px;
}
.dv-allPaymentMethods .tick,.dv-StartupPricing-content .tick{
    padding-left: 10px;
    padding-right: 10px;
}
@media all and (max-width: 991px) and (min-width: 768px) {
    #btn-bestSeller{
        min-height: 85px;
    }

}
@media (max-width:991px){  
    .dv-percentage{
        height: auto;
        padding: 10px;
        margin-left: 0;
    }
    .dv-percentage label{
        padding: 10px;
        line-height: normal;
        margin-bottom: 0;
    }
    
}
@media (max-width:767px){  
    .dv-allPaymentMethods .section-heading {
        font-size: 26px;
        padding-left: 0;
    }
    .dv-allPaymentMethods .tick{
        padding-left: 0;
    }
}
@media (max-width:479px){  
    .dv-StartupPricing-content {
        padding: 5px !important;
    }
    .dv-StartupPricing-content .btn{
        padding: 10px;
    }
    .dv-percentage label{
       font-size: 2.4rem;
    }
    .dv-StartupPricing-content .tick strong {
        font-size: 20px;
    }
}