.dv-Location{}
.dv-Location .dv-address{
border-right:1px solid #666;
padding: 10px 20px 0 30px;
}
.dv-Location .dv-address:first-child{

}
.dv-Location .dv-address:last-child{
border-right: 0px;
}
.dv-Location .dv-address .section-heading{
    padding: 0;
    margin-top: 0;
}
.dv-Location .dv-address p{
margin: 5px auto;
font-weight: 600;
color: var(--blue);
}
.dv-Location .dv-address .col-md-4{

}
@media (max-width:767px) {
    .dv-Location .dv-address {
        border-right: none;
    }
    .dv-Location .dv-address:last-child {
        border-top: 1px solid #666;
        margin-top: 10px;
    }
    .dv-Location{
        padding-top: 0rem !important;
    }
}