.dv-Banking-experience {}

.dv-Banking-experience .card {
    border-color: transparent;
    background-color: #e1f3fd;
    margin: 20px auto;
}

.dv-Banking-experience .card .dv-img {
    background: linear-gradient(0deg, #17287a 40%, #17287a 45%, #0f82d2 75%);
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.dv-Banking-experience .card:hover {
    -webkit-box-shadow: 0px 0px 15px 0px var(--blue);
    -moz-box-shadow: 0px 0px 15px 0px var(--blue);
    box-shadow: 0px 0px 15px 0px var(--blue);
    border-color: var(--blue);
}

img.new-band {
    width: auto;
    position: absolute;
    top: -6px;
    right: 15px;
    max-width: 50px;
}

.dv-Banking-experience .card-img-top {
    width: 100%;
}

.dv-Banking-experience .card-body {
    color: var(--white);
    padding-top: 0;
    padding-bottom: 0;
}

.dv-Banking-experience .card-text {
    color: var(--blue);
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 30px;
    font-family: var(--ubuntuMonoBold);
}

.dv-Banking-experience .card-footer {
    background-color: transparent;
    border: none;
    font-size: 0.85rem;
}

.dv-Banking-experience .more {
    color: var(--blue);
    text-decoration: underline;
    display: none;
}

@media (max-width:767px) {
    .dv-Banking-experience .card .card-img-top {
        width: 50%;
        margin-top: 0px;
    }
}