.dv-Make-payouts {}
.dv-Make-payouts .img-make-payout{
    width: 100px;
}
.dv-Make-payouts .section-heading{
    padding-bottom: 10px;
    font-size: 30px;
}
.dv-Make-payouts .desc{
    font-size: 14px;
    font-weight: 600;
}
.dv-Make-payouts .dv-points{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.dv-Make-payouts .dv-points .heading{
    text-transform: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--ubuntuExtraBold);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.dv-Make-payouts .dv-points .heading::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    border: 2px solid var(--darkgreen);
}
.dv-Make-payouts .dv-points .desc{
    font-size: 0.9rem;
}
.dv-Make-payouts .dv-points-holder{
    box-shadow: 2px 0px 10px 3px rgba(0,0,0,0.2);
}
.dv-Make-payouts .dv-points{}
.dv-Make-payouts{}
.dv-Make-payouts{}
.dv-Make-payouts{}
.dv-Make-payouts{}
.dv-Make-payouts{}