.dv-Quality{
    margin-top: 4rem;
}
.dv-Quality .card-img{}
.dv-Quality .card-body{}
.dv-Quality .card-title{
    font-weight: 600;
    font-size: 1.0rem;
    font-family: var(--ubuntuBold);
}
.dv-Quality .card-text{
    font-size:0.8rem;}

@media (max-width:767px){
    .dv-Quality .card-img {
        width: 150px;
        margin-bottom: 20px;
    }
}
@media (max-width:640px){
    .dv-Quality .card-img {
        width: 120px;
    }
}
@media (max-width:480px){
    .dv-Quality .card-img {
        width: 100px;
    }
}