.dv-Registration-content .form-control .dv-Registration-content .custom-select{
    border-color: var(--darkgreen);
    border-radius: 0;
    padding: .5rem;
    height: auto;
    /*z-index: 100;change*/
}
.dv-Registration-content label {
    font-size: 0.875rem;
    font-family: var(--ubuntuMedium);
    margin-bottom: 2px;
}
.dv-Registration-content .req{
    color: #ff0000;
}
.form-check{
    margin-top: 25px;
}
input[type="checkbox"]{
    border-radius: 0;
    border: 1px solid var(--darkgreen);
    height: 20px;
    width: 20px;
    margin-left: -30px;
    margin-top: 0px;
}
.dv-Registration-content a{
    color: var(--darkgreen);
    text-decoration: underline;
}
.btn-gradient, a.btn-gradient{
   /* background: linear-gradient(80deg, #283c93 30%, #009cdc 85%);*/
    background: var(--darkgreen);
    border: 0;
    color: var(--white);
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 70%;
    line-height: 1.7;
    font-weight: 500;
    text-decoration: none;
}

.green a.green{
    background: var(--darkgreen);
    color: var(--white);

}
.btn-green, a.btn-green{
    background: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: var(--white);
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 70%;
    line-height: 1.7;
    font-weight: 500;
}
.btn-green:hover, a.btn-green:hover{
    background: var(--white);
    color: var(--lightblue);
}
.btn-link{
    text-transform: none;
    font-size: 1.0rem;
}
.dv-instruction{
    color: var(--white);
}
.dv-instruction .section-heading{
    color: var(--white);
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 30px;
}
.border-heading{
    position: relative;
    letter-spacing: 2px;
}
.border-heading::after{
    content: " ";
    border: 2px solid #009cdc;
    position: absolute;
    top: 89px;
    width: 60px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.dv-capcha{
    background-color: #f9f9f9;
    color: var(--black);
    box-shadow: 0 0 5px #e9e9e9;
    padding: 20px;
    margin:30px 70px 20px;
}
.btn-resend-otp{
    text-transform: none;
}
.dv-help{
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 0.8rem;
}
.dv-help a{
    color: var(--lightblue);
    border-bottom: 2px solid var(--lightblue);
}
.dv-step{
    display: flex;
}
.dv-step .step{
    background-color: var(--white);
    color: var(--lightblue);
    display: block;
    padding: 2px 0px 2px 5px;
    font-size: 0.7rem;
    width: 50px;
    white-space: nowrap;
    height: 24px;
}
.dv-step .step::after{
    content: " ";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 8px solid var(--white);
    position: absolute;
    top: 0;
    left: 65px;
}
.dv-step .text{
    width: 80px;
    margin-left: 15px;
    font-size: 0.7rem;
    line-height: 1.3;
}

.dv-step.completed .step{
background-color: var(--lightblue);
color: var(--white);
}

.dv-step.completed .step::after{
    border-left: 8px solid var(--lightblue);
}

.dv-step.completed .text{
color: var(--lightblue);
}
ul.tick li.completed{
    background-image: url(../../assets/img/icons/ticked.png);
    color: var(--lightblue);
}

.successMsg h4{
    color: var(--lightblue);
    font-size: 2rem;
    font-family: var(--ubuntuMedium);
    letter-spacing: 0;
}

.dv-indicator{
    text-align: center;
    margin: 20px auto 70px;
    width: 177px;
}
ul.indicator{
display: flex;
align-items: center;
}
ul.indicator li{
list-style: none;
background-color: var(--lightblue);
}
ul.indicator li.box{
width: 35px;
height: 35px;
}
ul.indicator li.line{
height: 2px;
width: 35px;
}
ul.indicator li.completed, .dv-businessdoc-container ul.indicator li:nth-child(3){
background-color: var(--blue);
}
.btn-lightblue{    
background-color: var(--lightblue);
color: var(--white);
border:1px solid var(--lightblue);
border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 70%;
    line-height: 1.7;
    font-weight: 500;
}
.btn-lightblue:hover{    
background-color: var(--white);
color: var(--lightblue);
}

.dv-doc{
    display: flex;
    border: 1px solid var(--grey50);
    border-radius: 10px;
    align-items: center;
    padding: 15px 25px;
    margin: 15px auto;
}
.dv-particular{
    width: calc(100% - 140px);
}

.dv-particular .note{
    display: block;
    font-size: .7rem;
}
.dv-field {
    width: 140px;
}
.dv-field .custom-select{
    padding: 2px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.dv-field .btn{
    width: 100%;
    padding: 2px 5px;
    font-size: .7rem;
    border-radius: 3px;
}
.dv-doc{
    display: none;
}
.dv-businessdocind-container .dv-ind, .dv-personaldocind-container .dv-ind{
    display: flex;
}
.dv-businessdocprop-container .dv-prop, .dv-personaldocprop-container .dv-prop{
    display: flex;
}
.dv-businessdocpart-container .dv-part, .dv-personaldocpart-container .dv-part{
    display: flex;
}
.dv-businessdocpub-container .dv-pub, .dv-personaldocpub-container .dv-pub{
    display: flex;
}
.dv-businessdocsoc-container .dv-soc, .dv-personaldocsoc-container .dv-soc{
    display: flex;
}
.uploadModal{
color: var(--black);
}
.uploadModal button.close{
    border: 1px solid var(--black);
    color: var(--black);
    height: 40px;
    width: 40px;
    text-align: center;
}
.uploadModal .close > span:not(.sr-only) {
    color: var(--black);
    font-size: 2.5rem;
    margin: 0 8px;
    font-weight: 400;
    padding: 0;
}

.dv-upload-img{
background-color: #c9c9c9;
min-height: 300px;
background-image: url(../../assets/img/icons/upload.png);
background-repeat: no-repeat;
background-position:center;

}
.dv-upload-progress{
padding:15px;
text-align: center;
}
.dv-upload-progress p{
font-size: 1.1rem;
font-weight: 600;
}
.progress {
    height: 12px;
    border-radius: 0.5rem; 
}

.close{
    display: none;
}

.supportus .Open{
    margin-top: 7%;
    max-width:100%;
    height: 500px;
    position:relative;
    width: 200px;
    overflow: hidden;
   /* z-index: 10;*/
    padding: 0;
    
}

.backdrop{
    background-color: #009BDB;
}

.sphd{
    margin-top: -40px;
    margin-bottom: -20px;
}

.text-center1{
    margin-top: 20px;
}

.sphd1{
    font-size: 20px;
    margin-left: 0px;
}

.form-control2{
   line-height: 70px;
}

.blue{
    background-color: #141E64;
}

.submitbtn01{
    color: white;
    background-color: #141E64;
    background: #141E64 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
width: 180px;
height: 45px;
margin-bottom: 10px;
margin-top: 1px;
border: 0;
}
@media (max-width:991px) {
    .supportus .Open{
        margin-top: 12%;
    }
}
@media (max-width:640px) {
    .supportus .Open{
        margin-top: 20%;
        right: 0px;
    }
}
@media (max-width:500px) {
    .dv-form{
        margin: 0 15px;
    }
}
@media (max-width:400px) {
    .apixp{
        margin-top: 0;
    }
    .supportus .Open{
        margin-top: 30%;
    }
    
}

.form-options
{
    font-weight: normal;
    color: black;
}

.confmsg2{
    color:green;
    margin-top: -8px;
    margin-bottom: -2px;
    margin-left: 8%;
    visibility: hidden;
}

.texthr{
    font-size: medium;
    margin-left: 25%;
    margin-top: 5px;
}

.formjd{
    width: 500px;
}

.chk-input{
    margin-left: -20px;
}