.dv-Bank-Partners {
    position: relative;
    padding-bottom: 20px;
}

.dv-Bank-Partners .dv-bank-partner {
    
}

.dv-Bank-Partners .bank-partner {
    text-align: center;
    padding: 5%;
    /* display: flex; */
    display: block;
    justify-items: center;
    justify-content: space-around;
}

.dv-Bank-Partners .bank-partner .img-fluid {
    /* max-height: 50px; */
    max-height: 90px;
    max-width: 315px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    /* .dv-Bank-Partners .bank-partner .img-fluid {
        max-height: 40px;
    } */
}