.dv-PaymentSolutions .card{
    background: linear-gradient(240deg, #009cdc 0%, #283c93 100%);
}
.dv-PaymentSolutions .card-img-top{
max-width: 100px;
margin: 25px 25px 0;
}
.dv-PaymentSolutions .card-title{
color:var(--white);
}
.dv-PaymentSolutions .card-text{
color:var(--white);
}
.dv-PaymentSolutions .card-footer{
background-color: transparent;
padding-top: 10px;
}
.dv-PaymentSolutions .card-footer a{
color:var(--white);
text-decoration: underline;
}
.dv-PaymentSolutions .card-footer a:hover{
text-decoration: none;
}
.dv-PaymentSolutions{

}
.PaymentSolutionsBoxSlider{
    padding: 0 30px;
}
.PaymentSolutionsBoxSlider .owl-dots{
text-align: center;
margin: 50px auto;
}
.PaymentSolutionsBoxSlider .owl-carousel .owl-nav button.owl-prev{
    left:-30px;
    }
    .PaymentSolutionsBoxSlider .owl-carousel .owl-nav button.owl-next{
        right:-30px;
    }
    .PaymentSolutionsBoxSlider .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
        background-color: var(--lightblue) !important;
        margin: 2px 7px;
        border-radius: 25px;
    }
    .PaymentSolutionsBoxSlider .owl-carousel button.owl-dot.active {        
        background-color: var(--blue) !important;
    }
    .talkToUs{
        background-color: var(--blue);
    }
    @media all and (max-width: 1199px) and (min-width: 992px) {
        .dv-PaymentSolutions .card-body{
            min-height: 285px;
        }
    }
    @media all and (max-width: 991px) and (min-width: 768px) {
        .dv-PaymentSolutions .card-body{
            min-height: 350px;
        }
    }
    @media (max-width: 767px){
        .dv-PaymentSolutions .card-body{
            min-height: 200px;
        }
        .dv-PaymentSolutions .card-img-top{
            margin: 25px auto 0 auto;
        }
    }
    