.dv-PaymentMethods .section-heading{
    padding: 20px 0 20px;
}
p.icon-heading{
    font-weight: 600;
    margin: 20px;
}
.dv-logos{
    border-bottom: 1px solid var(--gray);
}
.dv-logos img {
    max-width: 100px;
    max-height: 100px;
    margin: 20px;
}
.dv-cards{}
.dv-cards img{}
.dv-NetBanking{}
.dv-NetBanking img{}
.dv-upi{}
.dv-upi img{}
.dv-wallets{}
.dv-wallets img{}
.dv-icons{
    display: flex;
    justify-content: center;
    border: 0;
}
.icons{
    margin: 10px 30px;
    text-align: center;
    font-weight: 600;
}
.dv-icons img{
    width: 70px;
}
.dv-icons .lbl{
    display: block;
}
.dv-icons .lbl span{
    display: block;
    font-size: 10px;
    line-height: 1;
}
@media (max-width: 767px){
.icons {
    margin: 10px auto;
}
.dv-icons img {
    width: 60px;
    margin:20px auto;
}
}