.dv-Help .btn-default {
    border: 0;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 50px;
    padding: 10px 30px;
    margin-right: 20px;
}
.dv-Help .btn-default:hover{
    background-color: var(--green);
}

@media (max-width: 767px){
 .dv-Help .img-call {
        width: 90% !important;
    }
    .dv-Help .btn-default {
        margin-right: 5px;
    }
}