.dv-Business-App {
    position: relative;
    padding: 0px 0 150px;
    margin-bottom: 100px;
    color: var(--white);
}

.dv-Business-App .first-bg {
    background: linear-gradient(220deg, #283c93 30%, #009cdc 85%, #00ff36 95%);
    clip-path: polygon(0 30%, 100% 10%, 100% 85%, 90% 100%, 0 85%);
    height: 100%;
}

.dv-Business-App .second-bg {
    background-color: #f6f6f6;
    clip-path: polygon(0 0%, 100% 40%, 100% 100%, 0% 100%);
}

.dv-Business-App .section-heading {
    padding-bottom: 10px;
}
.dv-Business-App .img-business-app {
    
}

@media (max-width:767px) {
    .dv-Business-App .first-bg {
        clip-path: polygon(0 18%, 100% 0%, 100% 85%, 75% 100%, 0 85%);
    }
    .dv-Business-App .section-heading {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .dv-Business-App .color-darkgreen{
        padding-bottom: 0px !important;
        padding-top: 80px;
    }
    .dv-Business-App{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width:640px) {
    .dv-Business-App .first-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 75% 85%, 0 85%);
    }
    .dv-Business-App .second-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 85%, 0% 85%);
    }
    
    .rep-pm-0{
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .mg-t{
        margin-top: 15px;
    }
    
    .busi-div{
        margin-top: -100px;
    }
    .dv-Business-App .color-darkgreen {
       padding-top: 50px;
    }
}
@media screen and (min-width:769px) and (max-width:1366px) {}

@media(min-width:1367px) {}