*{
    font-family: sans-serif;
}
.top{
    top: 0px;
    left: 0px;
    width: 100%;    
    /* height: 60px; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: fixed;
    opacity: 1;
    margin-bottom: -30px;
    z-index: 50;
    overflow: hidden;
    height: 70px;
}

.logo{
    margin-top: -10px;
    width: 150px;
    height: 100px; 
    float: left;
}
        
.doct{
    margin-top: 22px;
    font: normal normal bold 20px/27px Open Sans;
    font-family: sans-serif;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    float: left;
}

.apixp{
    margin-top: 22px;
    font: normal normal normal 18px/30px Open Sans;
    color: #141E64;
    float: right;
}
.apixp::before{
    content:'\2190';
    margin-right: 5px;
}
@media (max-width:380px) {
    .apixp{
        margin-top: 0;
    }
    .supportus .Open{
        margin-top: 30%;
    }
    .top{
        height: 80px;
    }
}
