.dv-FullControl{
    margin: 0 auto;
    padding:5rem 0 10rem;
    position: relative;
}
.dv-FullControl .first-bg{
    background-color: #dcf3fa;
    clip-path: polygon(0 0%, 100% 0%, 100% 80%, 25% 100%, 0 90%);
}
.dv-FullControl .section-heading{
padding-bottom: 20px;
}
.dv-FullControl .card{
    border:0;
    border-top: 10px solid transparent;
    border-radius: 15px;
    margin: 10px auto 5px;
    background-color: transparent;
}
.dv-FullControl .card:hover{
border-top-color: var(--green);
    background-color: var(--white);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}
.dv-FullControl .card-img-top{
    max-width: 60px;
    margin:20px 25px 0;
}

@media (max-width:767px){
    .dv-FullControl .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 90%, 25% 100%, 0 90%);
    }
    .dv-FullControl .card-img-top {
        margin: 10px auto 0;
    }
}
@media (max-width:640px){
    .dv-FullControl .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 95%, 0% 95%, 0 90%);
    }
    .dv-FullControl{
        padding:4rem 0 10rem;
        margin-top: -1px;
    }
   
}