.dv-ToStart{
    /* as */
    margin-top: 7rem;
}
.dv-ToStart .card{
    border: 0;
    background: transparent;
}
.dv-ToStart .card-img-top{
    max-width: 120px;
    margin: 25px 15px 0;
}
.dv-ToStart .card-body{
    padding-top: 0px;
}
.dv-ToStart .card-title{
    font-weight: 600;
    font-size: 16px;
}
.dv-ToStart .card-text{
    color:var(--blue);
    font-size: 14px;
}
.dv-ToStart{}

@media (max-width:767px){
    .dv-ToStart .card-img-top{
        margin: 25px auto 0;
    }
    .dv-ToStart{
        margin-top: 2rem;
    }
}