.dv-PaymentGatewayFeatures {
    position: relative;
    padding: 200px 0 150px;
    margin-bottom: 0;
}

.dv-PaymentGatewayFeatures .first-bg {
    background: linear-gradient(240deg, #283c93 30%, #009cdc 65%, #00ff36 90%);
    clip-path: polygon(0 15%, 100% 0%, 100% 80%, 0 55%);
    height: 100%;
}
.dv-PaymentGatewayFeatures .img-paymentfeature{
    width: 100px;
}

.dv-PaymentGatewayFeatures .section-heading {
    padding-bottom: 0px;
    font-family: var(--ubuntu);
}
.dv-GatewayFeatures{
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px 0 0 10px;
    box-shadow: 5px 0px 10px 8px rgba(0,0,0,0.5);
}
.dv-GatewayFeatures .dv-GatewayFeaturesHolder{
    max-height: 660px;
    overflow-y: auto;
    overflow-x: hidden;
}
.dv-GatewayFeatures .dv-points{
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.dv-GatewayFeatures .dv-points .heading{
    text-transform: none;
    font-size: 1.0rem;
    font-weight: 600;
    font-family: var(--ubuntuMono);
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.dv-GatewayFeatures .dv-points .heading::before{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    border: 2px solid var(--darkgreen);
}
.dv-GatewayFeatures .dv-points .desc{
    font-size: 0.9rem;
}
.dv-GatewayFeatures .dv-points-holder{
    box-shadow: 2px 0px 10px 3px rgba(0,0,0,0.2);
}


@media (max-width:767px) {
    .dv-PaymentGatewayFeatures .first-bg {
        clip-path: polygon(0 18%, 100% 0%, 100% 85%, 75% 100%, 0 85%);
    }
    .dv-GatewayFeatures{
        border-radius: 10px;
    }
}
@media (max-width:640px) {
    .dv-PaymentGatewayFeatures .first-bg {
        clip-path: polygon(0 12%, 100% 12%, 100% 85%, 100% 95%, 0 95%);
        margin-top: -100px;
    }
    .dv-PaymentGatewayFeatures {
        position: relative;
        padding: 20px 0 50px;
        margin-bottom: 0;
    }
}

@media screen and (min-width:769px) and (max-width:1366px) {
    
}

@media(min-width:1367px) {
    
}