.dv-FullToolKit{
    margin: 0 auto -250px;
    padding-bottom: 200px;
    position: relative;
}
.dv-FullToolKit .card{
    border-radius: 15px;
    margin: 20px auto;
    background-color: transparent;
    border-color: #d6d6d6;
    padding-left:5px;
    padding-right: 5px;
    min-height: 235px;
}
.dv-FullToolKit .card-body {
    padding: 0.5rem 1.5rem 1rem;
}
.dv-FullToolKit .card-img-top{
    max-width: 60px;
    margin:10px 15px 0;
}
.dv-FullToolKit .card-title{
    font-weight: 600;
    font-size: 16px;
}
.dv-FullToolKit .card-text{
    font-size: 14px;
}

.dv-FullToolKit .first-bg{
    background-color: #edf9fd;
    clip-path: polygon(70% 0, 100% 40%, 100% 100%, 0% 100%, 0 60%);
    height: 100%;
    z-index: -2;
}
.dv-FullToolKit .second-bg{
    background-color: #f4fafd;
    clip-path: polygon(50% 0, 100% 40%, 100% 100%, 0% 100%, 0 45%);
    height: 100%;
    z-index: -3;
}

@media all and (max-width: 991px) and (min-width: 768px) {
    
.dv-FullToolKit .card{
    min-height: 280px;
}

}

@media (max-width:767px){
    .dv-FullToolKit .first-bg {
        clip-path: polygon(70% 0, 100% 10%, 100% 100%, 0% 100%, 0 20%);
    }
    .dv-FullToolKit .second-bg {
        clip-path: polygon(50% 0, 100% 10%, 100% 100%, 0% 100%, 0 13%);
    }
    .dv-FullToolKit .card-img-top{
        max-width: 60px;
        margin:0 auto;
    }
    .dv-FullToolKit .card{
        min-height: auto;
    }
}
@media (max-width:640px){
    .dv-FullToolKit .first-bg {
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 100%, 0 0%);
    }
    .dv-FullToolKit .second-bg {
       clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0% 100%, 0 13%);
    }
    .dv-FullToolKit{
        margin: 0 auto;
        padding-bottom: 50px;
    }
}