
.dv-Registration-content .form-control, .dv-Registration-content .custom-select{
    border-color: var(--darkgreen);
    border-radius: 0;
    padding: .5rem;
    height: auto;
}
.dv-Registration-content label {
    font-size: 0.875rem;
    font-family: var(--ubuntuMedium);
    margin-bottom: 2px;
}
.dv-Registration-content .req{
    color: #ff0000;
}
.form-check{
    margin-top: 25px;
}
input[type="checkbox"]{
    border-radius: 0;
    border: 1px solid var(--darkgreen);
    height: 20px;
    width: 20px;
    margin-left: -30px;
    margin-top: 0px;
}
.dv-Registration-content a{
    color: var(--darkgreen);
    /* text-decoration: underline; */
}
.btn-forgtpass{
    text-decoration: underline;
    padding: 5px;
}

.btn-gradient, a.btn-gradient{
    background: linear-gradient(80deg, #283c93 30%, #009cdc 85%) !important;
    border: 0;
    color: var(--white);
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 75%; /* as */
    line-height: 1.7;
    font-weight: 500;
    text-decoration: none;
}
.btn-gradient:hover, a.btn-gradient:hover{
    color: var(--green);
}
.btn-green, a.btn-green{
    background: var(--darkgreen);
    border: 1px solid var(--darkgreen);
    color: var(--white);
    border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 75%;
    line-height: 1.7;
    font-weight: 500;
}
.btn-green:hover, a.btn-green:hover{
    /* background: var(--white);
    color: var(--lightblue); */
    background: var(--darkgreen);
    color: var(--white);
}
.btn-link{
    text-transform: none;
    font-size: 1.0rem;
}
.dv-instruction{
    color: var(--white);
}
.dv-instruction .section-heading{
    color: var(--white);
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 30px;
}
.border-heading{
    position: relative;
    letter-spacing: 2px;
}
.border-heading::after{
    content: " ";
    border: 2px solid #009cdc;
    position: absolute;
    top: 89px;
    width: 60px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
}
.dv-capcha{
    background-color: #f9f9f9;
    color: var(--black);
    box-shadow: 0 0 5px #e9e9e9;
    padding: 20px;
    margin:30px 70px 20px;
}
.btn-resend-otp{
    text-transform: none;
}
.dv-help{
    position: absolute;
    left: 10px;
    bottom: 15px;
    font-size: 0.8rem;
}
.dv-help a{
    color: var(--lightblue);
    border-bottom: 2px solid var(--lightblue);
}
.dv-step{
    display: flex;
}
.dv-step .step{
    background-color: var(--white);
    color: var(--lightblue);
    display: block;
    padding: 2px 0px 2px 5px;
    font-size: 0.7rem;
    width: 50px;
    white-space: nowrap;
    height: 24px;
}
.dv-step .step::after{
    content: " ";
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 8px solid var(--white);
    position: absolute;
    top: 0;
    left: 65px;
}
.dv-step .text{
    width: 80px;
    margin-left: 15px;
    font-size: 0.7rem;
    line-height: 1.3;
}

.dv-step.completed .step{
background-color: var(--lightblue);
color: var(--white);
}

.dv-step.completed .step::after{
    border-left: 8px solid var(--lightblue);
}

/* .dv-step.completed .text{
color: var(--lightblue);
} */
ul.tick li.completed{
    background-image: url(../../assets/img/icons/ticked.png);
    color: var(--lightblue);
}
.successMsg{

}
.img-success{

}
.successMsg h4{
    color: var(--lightblue);
    font-size: 26px;
    font-family: var(--ubuntuMedium);
    letter-spacing: 0;
    max-width: 350px;
    margin: 0 auto;
}

.dv-indicator{
    text-align: center;
    margin: 20px auto 20px;
    width: 105px;
}
ul.indicator{
display: flex;
align-items: center;
}
ul.indicator li{
list-style: none;
background-color: var(--lightblue);
}
ul.indicator li.box{
width: 24px;
height: 22px;
}
ul.indicator li.line{
height: 2px;
width: 25px;
}
ul.indicator li.completed, .dv-businessdoc-container ul.indicator li:nth-child(3){
background-color: var(--blue);
}
.btn-lightblue{    
background-color: var(--lightblue);
color: var(--white);
border:1px solid var(--lightblue);
border-radius: 0;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 70%;
    line-height: 1.7;
    font-weight: 500;
}
.btn-lightblue:hover{    
background-color: var(--white);
color: var(--lightblue);
}

.dv-doc{
    display: flex;
    border: 1px solid var(--grey50);
    border-radius: 10px;
    align-items: center;
    /* padding: 15px 25px; */
    padding: 15px;
    margin: 15px auto;
}
.doc-txt{
    margin-bottom: 25px;
    font-size: 22px;
}
.dv-particular{
    width: calc(100% - 140px);
}
.dv-particular .lbl{

}
.dv-particular .note{
    display: block;
    font-size: .6rem;
}
.dv-field {
    width: 140px;
}
.dv-field .custom-select{
    padding: 2px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.dv-field .btn{
    width: 100%;
    padding: 2px 5px;
    font-size: .7rem;
    border-radius: 3px;
}
.dv-doc{
    display: none;
}
.dv-businessdocind-container .dv-ind, .dv-personaldocind-container .dv-ind{
    display: flex;
}
.dv-businessdocprop-container .dv-prop, .dv-personaldocprop-container .dv-prop{
    display: flex;
}
.dv-businessdocpart-container .dv-part, .dv-personaldocpart-container .dv-part{
    display: flex;
}
.dv-businessdocpub-container .dv-pub, .dv-personaldocpub-container .dv-pub{
    display: flex;
}
.dv-businessdocsoc-container .dv-soc, .dv-personaldocsoc-container .dv-soc{
    display: flex;
}
.uploadModal{
color: var(--black);
}
.uploadModal button.close,.uploadModalPan button.close,.uploadModalAadhaar button.close,.uploadModalPdf button.close{
    border: 1px solid var(--black);
    color: var(--black);
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
}
.uploadModal .close > span:not(.sr-only),.uploadModalPan .close > span:not(.sr-only),.uploadModalAadhaar .close > span:not(.sr-only),.uploadModalPdf .close > span:not(.sr-only) {
    color: var(--black);
    font-size: 1.5rem;
    margin: 0 4px;
    font-weight: 600;
    padding: 0;
}
.dv-upload{

}
.dv-upload-img{
background-color: #c9c9c9;
min-height: 300px;
background-image: url(../../assets/img/icons/upload.png);
background-repeat: no-repeat;
background-position:center;
align-items: center;
display: flex;
justify-content: center;

}
.dv-upload-img p{
    display: flex;
    align-items: center;
    position: relative;
    top: 85px;
    font-size: 14px;
}
.dv-upload-progress{
padding:15px;
text-align: center;
}
.dv-upload-progress p{
font-size: 1.1rem;
font-weight: 600;
}
.progress {
    height: 12px;
    border-radius: 0.5rem; 
}
/* as */
.error-div .form-control,.error-div.dv-doc{
    border-color: #ff0000;
}
.err{
    color: #ff0000;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}
.error-div .btn-lightblue{
    background-color: #ff0000;
    border-color: #ff0000;
}
.error-div .btn-lightblue:hover{
    background-color: #ffff;
    border-color: #ff0000;
}
.frm-heading{
    font-weight: bold;
}
.red{
    color: #ff0000;
}
.sel-cust{
    position: relative;
}
.sel-cust:after {
    content: "\25bc";
    padding: 12px 8px;
    position: absolute;
    right: 0px;
    top: 23px;
    z-index: 1;
    text-align: center;
    width: 16%;
    height: 63%;
    pointer-events: none;
    color: #2faa4a;
    border-left: 1px solid;
  }
.sel-cust .custom-select{
    background: none;
}
.sel-doc{
    position: relative;
}
.sel-doc::before{
    content: " ";
    position: absolute;
    top: 12px;
    right: 9px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: gray transparent transparent transparent;
}
.sel-doc:after {
    content: " ";
    padding: 0px;
    position: absolute;
    right: 3px;
    top: 4px;
    width: 15%;
    height: 35%;
    color: gray;
    border: solid 1px gray;
    border-radius: 0.25em;
}
.sel-doc .custom-select{
    background: none;
    position: relative;
    z-index: 1;
    color: #333;
}
.iagree{
    border-color:#2faa4a;
    text-align: center;
    font-family: var(--ubuntuMedium);
}
.tnc{
    padding: 0;
    font-size: 15px;
    margin-top: -3px;
}
input[type="checkbox"].chk-inpt{
    position: relative;
    top: 4px;
    margin-left: 0;
    font-size: 15px;
}
.txtagr{
    display: initial;
    margin-left: 8px;
}
.mx-note{
    max-width: 330px;
    margin: 0 auto;
}
.upld-txt{
   font-size: 9px;
   display: block;
}
.upld-btn{
    float: right;
    font-size: 9px;
    margin-right: 0;
    padding: 2px 6px;
    background-color: #009cdc;
    border-color: #009cdc;
    color: #fff;
}
.btn.upld-btn:not(:last-child){
    margin-right: 0;
}
.upld-btn:hover{
    background-color: #fff;
    color: #009cdc;
}
.bl-btn-md{
    font-size: 11px;
    background-color: #009cdc;
    border-color: #009cdc;
    color: #fff;
    padding: 4px 6px;
    min-width: 150px;
}
.bl-btn-md:hover{
    background-color: #fff;
    color: #009cdc;
}
.btn.bl-btn-md:not(:last-child){
    margin-right: 0;
}
.label-upld{
    float: left;
}
.label-upld label{
    display: block;
    margin-bottom: 0;
}
.dv-upload-header{
    text-align: center;
    margin-bottom: 15px;
}
.dv-upload-header h5{
    font-size: 18px;
    color: #000;
    margin: 0;
}
.dv-upload-header p{
    font-size: 14px;
    color: #000;
}
.sm-btn .btn{
    font-size: 12px;
    padding: 4px 6px;
    width: 50%;
    text-transform: uppercase;
}
.filledDet{
    margin-top: 10px;
}
/* .dv-personaldoc .pid{
    display: none;
} */
/* .dv-personaldoc .dv-indicator{
    width: 105px;
} */
.dv-businessdocprop-container .dv-prop.db-block,.dv-businessdocpart-container .dv-part.db-block,.dv-businessdocsoc-container .dv-soc.db-block,.dv-businessdocpub-container .dv-pub.db-block,.dv-businessdocind-container .dv-ind.db-block{
    display: block;
}
.db-block .dv-particular{
    float: left;
}
.db-block .dv-field{
    float: right;
}
.ad-upld .dv-upload-img{
    margin-bottom: 5px;
}
.addtxtarea{
    min-height: 130px;
    max-height: 130px;
    resize: none;
    overflow: auto;
}
.successMsg .mxx-note,.mxx-note{
   max-width: 425px;
}
.btn-lightblue:disabled {
    background-color: #a8b4b9;
    border-color: #a8b4b9;
  }
.btn-lightblue:disabled {
    background-color: #a8b4b9;
    border-color: #a8b4b9;
}
.dv-personaldocpub-container .border-heading,.dv-businessdocpub-container .border-heading{
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 30px;
}
.bt-wd{   
    width: auto;
    min-width: 260px;
}
.first-bg.htg{
    height: 130%;
    -webkit-clip-path: polygon(100% 0%, 100% 530px, 0 800px, 0 0);
    clip-path: polygon(100% 0%, 100% 530px, 0 800px, 0 0);
}
.border-heading {
    position: relative;
    letter-spacing: 0;
    font-size: 34px;
    padding: 0px 0 35px;
    margin-bottom: 0;
}
.border-heading::after {
    top: 60px;
}
.img-thankyou{
    margin-top: 15px;
}
/* .mod-txt{
    margin-bottom: 0;
} */
.agreementContent{
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}
.agreementContent ol{}
.agreementContent ol li{
    list-style: none;
    padding: 5px;
    text-indent: 20px;
}
.agreementContent ol li li{
    text-indent: 40px;
}
.agreementContent p{font-size: 14px;}
.agreementContent .btn-gradient, .agreementContent a.btn-gradient{
    width: 30%;
    margin: 0 15px;
}

.agreementContent .dv-bestSeller{
    transition: all 0.2s linear;
    padding-left: 30px;
    padding-right: 30px;
}
.agreementContent .dv-percentage{
    align-self: center;
    padding: 20px 20px 10px;
    background-color: var(--darkgreen);
    margin: 100px auto 0;
    color: var(--white);
    text-align: center;
    vertical-align: middle;
    height: 270px;    
    margin-left: 30px;
}
.agreementContent .dv-percentage label{
    font-size: 3rem;
    font-family: var(--ubuntuBold);
    display: block;
    border: 2px solid var(--white);
    padding: 63px 40px;
    line-height: 2;
    position: relative;
    margin-bottom: 0;
}
.agreementContent .dv-percentage sup{
    font-size: 20px;
    position: relative;
    top: -25px;
}
.agreementContent .section-heading{
    padding-bottom: 5px;
    padding-top: 70px;
    text-align: left;
    margin-left: 0;
    font-size: 30px;
}
.agreementContent .tick{}
.agreementContent .tick li{
    background-image: url(../../assets/img/icons/tick.png);
    background-position: 0 12px;
    padding-bottom: 18px;
}
.agreementContent .tick strong{
    font-size: 20px;
}
.agreementContent .tick span{
    display: block;
    font-size: 15px;
    margin-top: 5px;
}
.agreementContent .dv-note{
    background-color: var(--grey20);
    color: var(--white);
    font-size: 12px;
    padding: 10px 15px;
}


@media (max-width:991px){
    .dv-step .text {
        width: 60%;
        margin-left: 30px;
        font-size: 0.7rem;
        line-height: 1.3;
        margin-top: 5px;
    }
 
}
@media (max-width: 767px){
    .section-heading, .border-heading {
        font-size: 26px;
        padding-bottom: 30px;
    }
    .successMsg .mxx-note, .mxx-note {
        font-size: 22px;
    }
    .dv-personaldocpub-container .border-heading, .dv-businessdocpub-container .border-heading {
       font-size: 26px;
    }
    .smfont,.section-heading .smfont{
        font-size: 22px;
    }
    .card-deck .card {
        flex: auto;
     }
}
@media (max-width:479px){
    .section-heading, .border-heading {
        font-size: 24px;
        letter-spacing: 0;
    }
}
@media (max-width:400px){
    .dv-businessdocind-container .dv-ind, .dv-personaldocind-container .dv-ind{
        display: block;
    }
    .dv-businessdocprop-container .dv-prop, .dv-personaldocprop-container .dv-prop{
        display: block;
    }
    .dv-businessdocpart-container .dv-part, .dv-personaldocpart-container .dv-part{
        display: block;
    }
    .dv-businessdocpub-container .dv-pub, .dv-personaldocpub-container .dv-pub{
        display: block;
    }
    .dv-businessdocsoc-container .dv-soc, .dv-personaldocsoc-container .dv-soc{
        display: block;
    }
    .dv-particular{
        width: 100%;
        margin-bottom: 10px;
    }
    .dv-field{
        width: 100%;
    }
    .sel-doc::before {
       right: 10px;
    }
    .sel-doc:after {
        width: 25px;
    }
    .doc-txt {
        font-size: 20px;
    }
    }
    @media(max-width:379px){
        .dv-personaldocpub-container .border-heading::after, .dv-businessdocpub-container .border-heading::after {
            top: 90px;
        }
    }
    @media (max-width: 360px){
        
         .dv-help{
             left: 0;
         }
    }
    