.dv-Newsroom {}

.dv-Newsroom .card {
    border-color: transparent;
    background-color: #e1f3fd;
    margin: 20px auto;
}

.dv-Newsroom .card .dv-img {
    background: linear-gradient(0deg, #17287a 40%, #17287a 45%, #0f82d2 75%);
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.dv-Newsroom .card:hover {
    -webkit-box-shadow: 0px 0px 15px 0px var(--blue);
    -moz-box-shadow: 0px 0px 15px 0px var(--blue);
    box-shadow: 0px 0px 15px 0px var(--blue);
    border-color: var(--blue);
}

img.new-band {
    width: auto;
    position: absolute;
    top: -6px;
    right: 15px;
    max-width: 50px;
}

.dv-Newsroom .card-img-top {
    width: 100%;
}

.dv-Newsroom .card-body {
    color: var(--white);
    padding-top: 0;
    padding-bottom: 0;
    min-height: 150px;
}

.dv-Newsroom .card-text {
    color: var(--blue);
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 600;
    padding-top: 20px;
}

.dv-Newsroom .card-footer {
    background-color: transparent;
    border: none;
    font-size: 0.85rem;
}

.dv-Newsroom .more {
    color: var(--blue);
    text-decoration: underline;
}
.dv-Newsroom .dv-morenews .section-heading{
    margin-top: 4rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.dv-Newsroom .dv-morenews .row{
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}
.dv-Newsroom .dv-morenews .row:last-child{
    border-bottom: 0px solid transparent;
}
.dv-Newsroom .dv-morenews .dv-img{
    padding: 15px 10px 10px 0;
}
.dv-Newsroom .dv-morenews .dv-read{    
    padding: 15px 10px 0px 0px;
}
.dv-Newsroom .dv-morenews .dv-img img.card-img-top{}
.dv-Newsroom .dv-morenews .dv-text{
    padding: 10px 10px 20px 40px;
    align-items: center;
}
.dv-Newsroom .dv-morenews .dv-text p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
}
.dv-Newsroom .dv-morenews .dv-text .lblDate{
    font-size: 0.8rem;
}
.dv-Newsroom .dv-morenews a.more{}
.dv-Newsroom .dv-morenews {}
.dv-Newsroom .dv-morenews {}
.dv-Newsroom .dv-morenews {}

@media all and (max-width: 991px) and (min-width: 768px) {
    .dv-Newsroom .card-body{
        min-height: 180px;
    }
}
@media (max-width:767px) {
    .dv-Newsroom .card-body{
        min-height: initial;
    }
    .dv-Newsroom .card-img-top {
        width: 50%;
        margin-top: 0;
    }
    .dv-Newsroom .dv-morenews .dv-read {
        padding: 15px 10px 20px 0px;
    }
    .dv-Newsroom .dv-morenews .dv-text {
        padding: 10px 10px 20px 0px;
        align-items: center;
    }
    .dv-Newsroom .dv-morenews .dv-img img.card-img-top{
        margin-left: -15px;
    }
    
}
@media (max-width:380px) {
    .dv-Newsroom .dv-morenews .dv-img img.card-img-top {
        margin-left: -10px;
    }
}