.dv-Platform{
    position: relative;
    margin-top:-120px;
    padding-top: 180px;;
    padding-bottom: 200px;
    margin-bottom: 0;
}
.dv-Platform .card{
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%;
    padding: 30px;
}
.dv-Platform .card-img-top{
    max-width: 100px;
    margin: 20px auto;
}
.dv-payment-gateway .card{
    background-image: url(../../assets/img/backgrounds/payment-gateway-bg.png);    
}
.dv-Platform .card-body{
    color: var(--white);
}
.dv-Platform .card-title{
    color: var(--white);
    font-weight: 600;
    font-size: 25px;
    margin: 25px;
}
.dv-Platform .card-text{
    margin: 10px 25px;
}
.ul-payment-gateway-points{
    margin-right: -20px;
}
.ul-points{
    margin-top: 20px;
}
.ul-points li{
    list-style: none;
    padding: 25px 25px 25px 25px;
    border-bottom: 1px solid #a5a5a5;
    position: relative;
}
.ul-points li:last-child{
    border: 0;
    padding-bottom: 0px;
}
.ul-points li:last-child::before{
    border:0;
}
.ul-points li p{
    background-image: url(../../assets/img/icons/tick.png); 
    background-repeat: no-repeat;
    background-position: 0 center;
    background-size: auto 35px;
    color: var(--lightblue);
    font-size: 20px;
    font-weight: 600;
    padding-left: 60px;
}
.ul-points .btn-blue-rounded{
    margin: 80px auto;
    display: block;
}
.dv-payout-solutions .card{
    background-image: url(../../assets/img/backgrounds/payout-solutions-bg.png);
}
.ul-payout-solutions-points{
    margin-left: -10px;
    border-left: 1px solid #a5a5a5;
}
.ul-payout-solutions-points li::before{    
    content: "";
    position: absolute;
    left: -6px;
    bottom: -6px;
    border: 6px solid #a5a5a5;
}
 /* as */
.ul-payout-solutions-points .btn-blue-rounded{
   
    margin-top: 115px;
}
/* as */
.dv-Platform .first-bg{
    background-color: #f6f6f6;
    clip-path: polygon(0 0%, 100% 0%, 100% 70%, 30% 100%, 0 70%);
    height: 100%;
    z-index: -3;
}
/* as */
.dv-Platform .second-bg{
    background-color: #f2f2f2;
    clip-path: polygon(0 0%, 100% 0%, 100% 80%, 60% 97%, 0 20%);
    height: 100%;
    z-index: -4;
}

@media (max-width:767px){
    .dv-Platform .card {
        padding: 10px;
    }
    .dv-Platform .card-img-top {
        max-width: 70px;
        margin: 0px auto;
    }
    .dv-Platform .card-body {
        padding: 0.8rem 1.5rem;
    }
    .dv-Platform .card-title{
        margin: 0;
    }
    .dv-Platform .card-text {
        margin: 10px auto;
        line-height: 1.5;
    }
    .ul-payment-gateway-points {
        margin-right: 0;
    }
    .ul-points li {
        padding: 15px;
    }
    .ul-points li p {
        background-size: auto 25px;
        font-size: 17px;
        padding-left: 40px;
        margin-bottom: 0;
    }
    .ul-points .btn-blue-rounded {
        margin: 30px auto 50px;
    }
    .ul-payout-solutions-points {
        margin-left: 0;
        border-left-width: 0px;
    }
    .ul-payout-solutions-points li::before {
        border-width: 0px;
    }
    .dv-Platform .first-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 88%, 30% 100%, 0 88%);
    }
    .dv-Platform .second-bg {
        clip-path: polygon(0 0%, 100% 0%, 100% 92%, 65% 99%, 0 50%);
    }
}
@media all and (max-width: 1199px) and (min-width: 991px) {
    .pt-hgt{
        min-height: 135px;
    }
    .rep-wd-100 .ul-points li{
        padding: 25px 15px 25px 25px;
    }
}

@media (max-width:640px){
.dv-Platform{
    padding-top: 100px;
}
}