.dv-Clients {
    text-align: center;
}
.dv-Clients .dv-logo {}

.dv-Clients .img-fluid {
    margin: 0 auto;
    max-width: 155px;
}

.dv-call .section-heading {
    text-align: left;
    font-size: 2rem;
    padding-bottom: 1.4rem;
}
.dv-Clients .border-right{
    border-right: 1px dashed #c0c0c0 !important;
}
.dv-Clients .border-bottom{
    border-bottom: 1px dashed #c0c0c0 !important;
}
.bd-rght{
    border-right: 1px dashed #c0c0c0 !important;
}
.bd-bot{
    border-bottom: 1px dashed #c0c0c0 !important;
}
.mswip{
    padding-top: 38px;
}
.quickw{
    padding: 62px 10px;
}
.imoney{
    padding: 10px 10px;
}
@media (max-width: 991px){
    .no-bd-rght91{
        border-right: 0px dashed #c0c0c0 !important; 
    }
    .yes-bd-rght91{
        border-right: 1px dashed #c0c0c0 !important;
    }
    .yes-bd-bot91{
        border-bottom: 1px dashed #c0c0c0 !important;
    }
}
@media (max-width: 767px){
    .dv-Clients .dv-logo {
        display: flex;
        flex-wrap: wrap;
    }
    .dv-Clients .img-fluid {
        width: 33.33%;
        margin: 0 auto;
        max-width: initial;
    }
    .no-bd-rght67{
        border-right: 0px dashed #c0c0c0 !important; 
    }
    .yes-bd-rght67{
        border-right: 1px dashed #c0c0c0 !important;
    }
    .yes-bd-bot67{
        border-bottom: 1px dashed #c0c0c0 !important;
    }
    
}
@media (max-width: 400px){
    .quickw {
        padding: 50px 10px;
    }
}
