.dv-AcceptPaymentHeroBanner{    
    margin-bottom: 50px;
    color:var(--white);
    padding: 40px 80px 220px 80px;
}
.dv-AcceptPaymentHeroBanner .herobanner-content{
    max-width: 72%;
}
.dv-AcceptPaymentHeroBanner .first-bg{
    background: linear-gradient(18deg, #283c93 45%, #009cdc 100%, #00fb3d 100%);
    clip-path: polygon(100% 0%, 100% 55%, 60% 95%, 0 65%, 0 0);
}
.dv-AcceptPaymentHeroBanner .second-bg{
    background: linear-gradient(50deg, #283c93 25%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(0% 45%, 100% 20%, 40% 100%);
}
@media (max-width:767px){
    .dv-AcceptPaymentHeroBanner {
        padding-top: 3rem;
        padding-bottom: 8rem;
        margin-bottom: 0;
    }
    
    .dv-AcceptPaymentHeroBanner .first-bg {
        clip-path: polygon(100% 0%, 100% 85%, 60% 100%, 0 80%, 0 0);
    }
    .dv-AcceptPaymentHeroBanner .second-bg {
        background: linear-gradient(90deg, #283c93 25%, #009cdc 85%, #00fb3d 98%);
        clip-path: polygon(0% 78%, 100% 84%, 40% 100%);
    }
    .dv-AcceptPaymentHeroBanner .herobanner-content{
        max-width: 100%;
    }
    .dv-PaymentOptions .section-heading{
        margin-bottom: 30px;
    }
}
@media (max-width:640px){
    .dv-AcceptPaymentHeroBanner .first-bg {
        -webkit-clip-path: polygon(100% 0%, 100% 90%, 100% 90%, 0 90%, 0 0);
        clip-path: polygon(100% 0%, 100% 90%, 100% 90%, 0 90%, 0 0);
    }
    .dv-AcceptPaymentHeroBanner .second-bg {
       display: none;
    }
}
