.dv-DigitalBanking{    
    padding-bottom: 100px;
    padding-top: 120px;
}
.dv-DigitalBanking .herobanner-content{
    max-width: 74%;
}
.dv-DigitalBanking .first-bg{
    background-image: url(../../assets/img/backgrounds/first-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0;    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 70%);
}
.dv-DigitalBanking .second-bg{
    clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 100%);
    background: linear-gradient(200deg, #283c93 65%, #009cdc 95%, #00fb3d 100%);
}
.dv-DigitalBanking img.img-fluid{

}
@media (max-width:767px){
    .dv-DigitalBanking{    
        padding-top: 120px;
    }
    .dv-DigitalBanking .first-bg{
        background-size: 100% 60%;    
    }
    .dv-DigitalBanking .second-bg{
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    }
    .dv-DigitalBanking .herobanner-content{
        max-width: 100%;
    }
    }
@media (max-width:640px){
    .dv-DigitalBanking .second-bg{
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 90%);
    }
    .dv-Platform .first-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 88%, 30% 88%, 0 88%);
    }
    .dv-Platform .second-bg{
        clip-path: polygon(0 0%, 100% 0%, 100% 88%, 0% 88%, 0 50%);
    }
}