.dv-HomeHeroBanner{
    background: linear-gradient(18deg, #283c93 35%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(100% 0%, 100% 75%, 80% 100%, 0 75%, 0 0);
    padding-bottom: 170px;
    color: var(--white);
    margin-bottom: 50px;
    margin-top:0; 
}
.herobanner-heading{
    color: var(--white);
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
    line-height: 1.3;
    font-family: var(--ubuntuMonoBold);
}
.herobanner-content{
    /* as */
    margin: 20px 0 35px;
}
.btn-wrapper{
    margin-top:20px;
}
@media (max-width:991px){
    .dv-HomeHeroBanner{
        -webkit-clip-path: polygon(100% 0%, 100% 75%, 80% 100%, 0 80%, 0 0);
        clip-path: polygon(100% 0%, 100% 75%, 80% 100%, 0 80%, 0 0);
    }
}
@media (max-width:767px){
    .dv-HomeHeroBanner{
        -webkit-clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 85%, 0 0);
        clip-path: polygon(100% 0%, 100% 85%, 80% 100%, 0 85%, 0 0);        
        padding-top: 130px;
    }
}
@media (max-width:640px){
    .dv-HomeHeroBanner{
        -webkit-clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0 100%, 0 0); 
        padding-bottom: 40px;      
    }
}

