.dv-MakePayoutsHeroBanner .herobanner-content{ 
    max-width: 72%; 
}
.dv-MakePayoutsHeroBanner .first-bg{
    background: linear-gradient(210deg, #283c93 25%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(30% 0, 45% 0, 100% 50%, 100% 100%, 0 90%, 0% 50%);
}
.dv-MakePayoutsHeroBanner .second-bg{
    background: linear-gradient(150deg, #283c93 35%, #009cdc 85%, #00fb3d 98%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 87%);
}
.dv-MakePayoutsHeroBanner .img-fluid{
width:90%;
}
@media (max-width:767px){
    .dv-MakePayoutsHeroBanner .herobanner-content{ 
        max-width: 100%; 
    }
    .dv-MakePayoutsHeroBanner .img-fluid{
        margin-top: 20px;
    }
}
@media all and (max-width: 640px) {
    .dv-MakePayoutsHeroBanner .first-bg{
        clip-path: polygon(30% 0, 45% 0, 100% 50%, 100% 95%, 0 95%, 0% 50%);
    }
    .dv-MakePayoutsHeroBanner .second-bg {
       clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 90%);
    }
    .dv-Make-payouts {
        padding: 0 !important;
    }
}
@media all and (max-width: 576px) {
    .dv-Make-payouts{
        padding: 0 15px !important;
    }
}
