.dv-PaymentGateway{
    /* as */
    padding: 40px 80px 40px 80px;
}
.dv-PaymentGateway .first-bg{
background-repeat:no-repeat;
background-position: 0 0;
background-size: 60% auto;
background-image: url(../../assets/img/backgrounds/payment-gateway-first-bg.png);
}
.dv-PaymentGateway .second-bg{
background-repeat:no-repeat;
background-position: right 0;
background-size: 90% auto;
background-image: url(../../assets/img/backgrounds/payment-gateway-second-bg.png);
}
.dv-PaymentGateway .third-bg{
    background: linear-gradient(200deg, #a1d7f0 15%, #ffffff 50%);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -3;
}

@media (max-width:767px){
    .dv-PaymentGateway .first-bg {
        background-size: 115% 22%;
    }
    .dv-PaymentGateway .second-bg {
        background-size: 100% auto;
    }
    .dv-PaymentGateway{
        padding-top: 80px;
    }
}