.dv-Policy{
    background-image:url(../../assets/img/backgrounds/pricing.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size:100% 400px;
    margin-top: 0;
    padding-top: 8rem;
    min-height: 20vh;
    height: 350px;
    }

    @media (max-width:767px){
        .dv-Policy{
            padding-top: 3rem;
    background-size: 100% 200px;
    min-height: 0;
    height: auto;
    padding-bottom: 3rem;
            
            }
        }