.dv-PricingHeroBanner{    
    background-image:url(../../assets/img/backgrounds/pricing.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size:100% 400px;
    margin-top: 0;
    padding-top: 8rem;
    min-height: 20vh;
    height: 350px;
}
.dv-PricingHeroBanner .herobanner-content{
    
}

