.dv-Reseller{
    padding-top: 0;
}
.dv-Reseller .herobanner-content{
    max-width: 76%;
}
.dv-Reseller .first-bg{
background-repeat:no-repeat;
background-position: 0 0;
background-size: 100% auto;
background-image: url(../../assets/img/backgrounds/reseller-first-bg.png);
}
.dv-Reseller .second-bg{
background-repeat:no-repeat;
background-position: right 0;
background-size: 100% auto;
background-image: url(../../assets/img/backgrounds/reseller-second-bg.png);
}
.dv-Reseller .third-bg{
    background: linear-gradient(200deg, #a1d7f0 15%, #ffffff 50%);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: -3;
}

@media (max-width:767px){
    .dv-Reseller .first-bg {
        background-size: 160% auto;
    }
    .dv-Reseller .second-bg {
        background-size: 170% auto;
    }
    .dv-Reseller .herobanner-content{
        max-width: 100%;
    }
}

.dv-Reseller{
    padding-bottom: 0;
}