.dv-Launcher{
    background:linear-gradient(200deg, #283c93 30%, #009cdc 70%, #00fb3d 85%);
    clip-path:polygon(100% 00%, 100% 75%, 80% 100%, 0 80%, 0 25%);
    padding-top:170px;
    padding-bottom:170px;
    color:var(--white);
}
.dv-Launcher .section-heading{
    text-align: left;
    color: var(--white);
    margin-top: 60px;
    padding-bottom: 20px;
}
.dv-Launcher .acc-launcher{
    border: 2px solid rgba(0,250,65, 0.2);    
    margin-bottom: 20px;
    font-family: var(--ubuntuLight);
}
.dv-Launcher .btn{
    display: block;
    background-color: var(--white);
    margin: 20px 0 0;
    padding: 5px 20px;
}
.dv-Launcher .img-launcher{
    width: 80%;
}
.dv-Launcher .heading{
    padding: 20px 20px 20px;
    font-size: 18px;
    text-transform: inherit;
    background: none;
    color: var(--white);
    margin: 0;
    width: 100%;
    text-align: left;
}
.dv-Launcher .opened.heading::after{
    content: "-";
    text-align: right;
    right: 5px;
    position: absolute;
    font-weight: 600;
    top:7px;
}
.dv-Launcher .heading::after{
    content: "+";
    text-align: right;
    right: 5px;
    position: absolute;
    font-weight: 600;
    top:7px;
}
.dv-Launcher .heading strong{
    font-family: var(--ubuntuBold);
}
.dv-Launcher .description{
    padding: 10px 20px 20px;
    font-size:16px;
    line-height: 1.4;
}
.dv-Launcher .acc-launcher:first-child  .description{
display: block;
}
.dv-Launcher .acc-FullyCustomised .heading{
    display: block;
    padding-right: 20px;
}
.dv-Launcher .acc-FullyCustomised .acc-launcher{
    background: rgb(34,34,35);
background: linear-gradient(0deg, rgba(34,34,35,0) 0%, rgba(102,186,223,0.7) 90%);
border: 0px solid rgba(255,255,255,0.5);
    border-radius: 0;
    padding: 5px 10px;
    margin: 0px auto;
}
.dv-Launcher .dv-img-show{
    margin: 0 auto;
    text-align: center;
}
.dv-img-show .img-fluid{
    max-width: 80%;
    padding-top: 30px;
}
@media (max-width:991px){
    .dv-Launcher {
        background: linear-gradient(200deg, #283c93 30%, #009cdc 70%, #00fb3d 100%);
        -webkit-clip-path: polygon(100% 00%, 100% 75%, 80% 100%, 0 85%, 0 20%);
        clip-path: polygon(100% 00%, 100% 75%, 80% 100%, 0 85%, 0 20%);
    }
    
}
@media (max-width:767px){    
    .dv-Launcher{
        -webkit-clip-path: polygon(100% 00%, 100% 90%, 80% 100%, 0 85%, 0 10%);
        clip-path: polygon(100% 00%, 100% 90%, 80% 100%, 0 85%, 0 10%);
        padding-top: 70px;
        text-align: center;
        background: linear-gradient(200deg, #283c93 30%, #009cdc 100%, #00fb3d 100%);
    }
    .dv-Launcher .section-heading, .dv-Launcher .heading {
        text-align: center;
    }
    .dv-Launcher .btn{
        margin: 20px auto;
    }

}
@media (max-width:640px){    
    .dv-Launcher{
        -webkit-clip-path: polygon(100% 00%, 100% 100%, 90% 100%, 0 100%, 0 0%);
        clip-path: polygon(100% 00%, 100% 100%, 90% 100%, 0 100%, 0 0%);
        padding-top: 0px;
        padding-bottom: 70px;
    }
    
}