.dv-Features {
    /* margin-top: 2rem; */
}

.dv-Features .card-deck {}
.dv-Features .card{
    border-color: transparent;
    background-color: #e1f3fd;
    margin: 20px auto;
}
.dv-Features .card .dv-img{
    background: linear-gradient(0deg, #17287a 40%, #17287a 45%, #0f82d2 75%);
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 255px;
}
.dv-Features .card:hover{
    -webkit-box-shadow: 0px 0px 15px 0px var(--blue);
-moz-box-shadow: 0px 0px 15px 0px var(--blue);
box-shadow: 0px 0px 15px 0px var(--blue);
border-color:var(--blue);
}
img.new-band{
    width: auto;
    position: absolute;
    top: -6px;
    right: 15px;
    max-width:50px;
}

.dv-Features .card-img-top {
    width: 100%;
}

.dv-Features .card-body {
    color: var(--white);
    padding-top: 0;
    padding-bottom: 0;
}

.dv-Features .card-title {
    color: var(--blue);
    font-size: 1.2rem;
    font-family: var(--ubuntuMedium);
    line-height: 1.3;
    padding-top: 20px;
}

.dv-Features .card-text {
    color: var(--blue);
    line-height: 1.5;
    font-size: 0.9rem;
}

.dv-Features .card-footer {
    background-color: transparent;
    border: none;
    font-size: 0.85rem;
}

.dv-Features .more {
    color: var(--blue);
    text-decoration: underline;
}
@media all and (max-width: 991px) and (min-width: 768px) {
    .dv-Features .card-text {
       font-size: 0.8rem;
    }
    .dv-Features .card {
        min-height: 295px;
    }
    .dv-Features .card .dv-img{
        min-height: 330px;
    }

}
@media (max-width:767px){
.dv-Features .card .card-img-top{
    margin-top: 10px;
}

}