.dv-Rates{
    background-image: url(../../assets/img/backgrounds/pricing.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size:100%;
    margin-top: 0;
    padding-top: 7rem;
}
.dv-Rates .rounded-border-box{
    border: 0px solid rgba(20,30,100,0.7);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 9px rgba(0,0,0,0.4);
}
.dv-Rates-content{
    background: var(--white);
    width: 100%;
    padding: 50px 50px 0;
}
.dv-Rates .dv-price{
    padding: 25px 30px 25px 50px;
}
.dv-Rates .lbl-price{
    font-size: 4rem;
    color: #404041;
    font-family: var(--ubuntuBold);
    display: block;
    margin: 0;
    line-height: 1;
}
.dv-Rates .ul-points{
    margin:0;
}
.dv-Rates .ul-points .items{
    padding: 5px 15px 5px 25px;
    border: 0;
    background-image: url(../../assets/img/backgrounds/tick.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    background-size: 15px;
    margin-left: -20px;
}
.dv-Rates-content .col-md-6{
    border-bottom:1px solid #bebebe;
}
.dv-Rates .dv-note{
    background-color: var(--darkgreen);
    color:var(--white);
    text-align: right;
}
.dv-Rates .dv-note .note{
    margin-bottom:0 ;
    padding: 12px;
    font-size:14px;
}
.dv-Rates .ul-points .note sup{}

.shadow-box{
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-top: 100px;
    padding: 30px 80px;
}

@media (max-width:767px){
    .dv-Rates-top .dv-Rates{
        padding-top: 90px;
        background-size: 200%;
    }
    .dv-Rates{
        padding-top: 0;
    }
    .dv-Rates-content {
        padding: 0px 0px 0;
    }
    .shadow-box {
        margin-top: 20px;
        padding: 30px 10px;
    }
    .dv-Rates .dv-note .note{
        text-align: center;
    }
}