.dv-main-profile .login-nav{
    display: none;
}
.dv-main-profile .header-global{
    background-color: var(--blue);
}
.dv-main-profile{

}
.dv-profile-container{

}
.dv-Profile-content{
margin: 0 auto;
}
.dv-profile-links{
background-color: #f4f4f4;
border-left: 1px solid var(--lightblue);
border-right: 1px solid var(--lightblue);
padding-top: 7rem;
font-weight: 600;
}
.dv-Profile-content-holder{
    padding-top: 7rem;
    font-weight: 600;
}
ul.profileLinks{

}
ul.profileLinks li{
list-style: none;
}
ul.profileLinks a{
border-radius: 5px;
color: var(--blue);
display: block;
padding: 10px;
}
ul.profileLinks a:hover, ul.profileLinks a.active{
background-color: #c9c9c9;
color: var(--blue);
}
.dv-Profile-content-holder .section-heading{
text-align: left;
font-weight: 500;
padding-bottom: 15px;
padding-top: 0;
}
.btn-edit{
background-color: var(--blue);
border-color: var(--blue);
color: var(--white);
font-size: 0.6rem;
    padding: 5px 10px;
}
.btn-edit:hover{
background-color: transparent;
color: var(--blue);
}
.dv-image-upload{
    border: 1px solid var(--lightblue);
    color: var(--black);
    text-decoration: underline;
    text-align: center;
    padding: 30px 20px;
}
.form-content{
}
.form-content .lbl{
display: block;
color: #707070;
font-size: 0.75rem;
margin-bottom: 0px;
}
.form-content .lblValue{
color: var(--blue);
display: block;
margin-bottom: 15px;
font-size: 1.0rem;
}
.border-bottom{

}