.dv-Advantage {}

.dv-Advantage .card {
    border-color: transparent;
    border-top-width:5px;
    margin-bottom: 2rem;
}

.dv-Advantage .card:hover {
    border-color: rgba(20, 30, 100, 0.05);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.4);
border-top-color: var(--darkgreen);
}

.dv-Advantage .card-img-top {
    width: 60px;
    margin: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.dv-Advantage .card-body {
    padding-top: 0.5rem;
    color:var(--blue);
    font-family: var(--ubuntu);
}

.dv-Advantage .card-title {
    font-family: var(--ubuntu);
    font-size: 1.2rem;
}

.dv-Advantage .card-text {
    font-size: 0.9rem;
    line-height: 1.25rem;
}
@media (max-width:767px){
    .dv-Advantage .card-img-top {
    width: 80px;
    margin: 1.5rem auto 0.5rem auto;
}
}