.dv-SendMoney{

}
.dv-SendMoney .section-heading{
font-size: 30px;
}
.dv-SendMoney .card{
    background: linear-gradient(0deg, #009cdc 0%, #283c93 100%);
    border: 0;
    color: var(--white);
    border-radius: 0;
    margin: 15px auto;
    text-align: center;
}
.dv-SendMoney .card-img-top{
    max-width: 100px;
    margin: 25px auto 0;
}
.dv-SendMoney .card-body{
    
}
.dv-SendMoney .card-title{
    font-size: 1.3rem;
    color: var(--white);
    font-family: var(--ubuntuMedium);
}
.dv-SendMoney .card-text{
    
}
.dv-SendMoney{
    
}
@media (max-width:1199px) and (min-width: 991px) {
    .dv-SendMoney .card-body {
        min-height: 350px;
    }
}
@media all and (max-width: 991px) and (min-width: 768px) {
    .mh78{
        min-height: 460px;
    }
    .dv-SendMoney .card{
        min-height: 505px;
    }
}
@media (max-width:767px){
    .dv-SendMoney .card-img-top{
        margin: 25px auto 0; 
    }
    .dv-SendMoney .card-body {
        padding: 1rem 1.5rem;
    }
}