.dv-UsedCases{

}
.dv-UsedCases .card-deck{

}
.dv-UsedCases .card{
    background: linear-gradient(200deg, #009cdc 0%, #283c93 100%);
    cursor: pointer;
}
.dv-UsedCases .card-img-top{
max-width: 100px;
margin: 25px 25px 0;
}
.dv-UsedCases .card-body{

}
.dv-UsedCases .card-title{
color:var(--white);
}
.dv-UsedCases .card-text{
color:var(--white);
}
.dv-UsedCases .card-footer{
background-color: transparent;
padding-top: 10px;
}
.dv-UsedCases .card-footer a{
color:var(--white);
text-decoration: underline;
}
.dv-UsedCases .card-footer a:hover{
text-decoration: none;
}
.dv-UsedCases{

}
.usedCasesBoxSlider{
    padding:0 30px;
}

.usedCasesModalSlider{

}
.usedCasesModalSlider .item{

}
.dv-UsedCasesPop{
    padding: 7rem 0 5rem;
}
.dv-UsedCasesPop .dv-challenge{
   /* background-image: url(/static/media/used-cases-popup-bg.e3cb12c4.png);*/
    background-image: url(../../assets/img/backgrounds/used-cases-popup-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: var(--white);
    text-align: center;
    padding:30px 40px 30px 20px;
    min-height: 320px;
}
.dv-UsedCasesPop .dv-challenge .card-img-top{
    max-width: 80px;
    margin: 0 auto;
}
.dv-UsedCasesPop .dv-challenge .heading{
    color: var(--white);
    text-transform: none;
    font-size: 25px;
    font-weight: 600;
}
.dv-UsedCasesPop .dv-challenge .sub-heading{
    color: var(--white);
    font-size: 18px;
}
.dv-UsedCasesPop .dv-challenge .sub-heading::after{
    content: '';
    border-bottom: 2px solid var(--white);
    width: 40px;
    display: block;
    margin: 8px auto 12px;
}


.dv-UsedCasesPop .dv-challenge .dv-content{}
.dv-UsedCasesPop .dv-challenge .dv-content p{}
.dv-UsedCasesPop .dv-solution{
    border: 1px solid #009cdc;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px #009cdc;
    margin: -5.0rem -3.0rem;
    text-align: center;
    background-color: var(--white);
    position: relative;
    z-index: 1;
    padding: 1.5rem 0.5rem;
}
.dv-UsedCasesPop .dv-solution .card-img-top{
    max-width: 40px;
    margin: 0px auto 5px;
}
.dv-UsedCasesPop .dv-solution .heading{
    font-weight: 600;
    text-transform: none;
    font-size: 35px;
    line-height: 1.1;
}
.dv-UsedCasesPop .dv-solution .heading i{
    font-family: var(--ubuntuMedium);
}
.dv-UsedCasesPop .dv-solution .sub-heading{
    font-family: var(--ubuntuMedium);
    margin: 25px auto 40px;
}
.dv-UsedCasesPop .dv-solution .sub-heading::after{
    content: '';
    border-bottom: 3px solid var(--blue);
    width: 95px;
    display: block;
    margin: 5px auto 15px;
}
.dv-UsedCasesPop .dv-solution .dv-content{}
.dv-UsedCasesPop .dv-solution .dv-content p{
    line-height: 1.2;
    font-size: .8rem;
    font-family: var(--ubuntuMedium);
}
.dv-UsedCasesPop .dv-result{
   /* background-image: url(/static/media/used-cases-popup-bg.e3cb12c4.png);*/
    background-image: url(../../assets/img/backgrounds/used-cases-popup-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    color: var(--white);
    text-align: center;
    padding: 50px 20px 30px 40px;
    min-height: 320px;
}
.dv-UsedCasesPop .dv-result .card-img-top{}
.dv-UsedCasesPop .dv-result .heading{}
.dv-UsedCasesPop .dv-result .sub-heading{
    color: var(--white);
    font-size: 18px;
}
.dv-UsedCasesPop .dv-result .sub-heading::after{
    content: '';
    border-bottom: 2px solid var(--white);
    width: 40px;
    display: block;
    margin: 8px auto 12px;
}
.dv-UsedCasesPop .dv-result .dv-content{}
.dv-UsedCasesPop .dv-result .dv-content p{}
.dv-UsedCasesPop .dv-result .dv-content .btn{
    display: block;
    margin:30px auto;
}

.dv-gaming{}
.dv-payroll{}
.dv-payments{}
.dv-loan{}
.dv-insurance{}

.modal-body{
    padding: 0 1.5rem;
}
.close > span:not(.sr-only){
    color: var(--lightblue);
}
button.close {
    background-color: transparent;
    position: absolute;
    border: 1px solid var(--lightblue);
    color: var(--lightblue);
    border-radius: 20px;
    right: 5px;
    top: 5px;
}

.owl-carousel .owl-nav button.owl-prev{
position: absolute;    
left: 0;
top:40%;
font-size: 6rem !important;
    color: var(--lightblue) !important;
}

.owl-carousel .owl-nav button.owl-next{
    position: absolute;    
right: 0;
top:40%;
font-size: 6rem !important;
    color: var(--lightblue) !important;
}
.usedCasesBoxSlider .owl-carousel .owl-nav button.owl-prev{
left:-30px;
}
.usedCasesBoxSlider .owl-carousel .owl-nav button.owl-next{
    right:-30px;
}
.owl-carousel button.owl-dot{

}

.usedCasesBoxSlider .owl-dots{
    text-align: center;
    margin: 50px auto;
    }
.usedCasesBoxSlider .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
    background-color: var(--lightblue) !important;
    margin: 2px 7px;
    border-radius: 25px;
}
.usedCasesBoxSlider .owl-carousel button.owl-dot.active {        
    background-color: var(--blue) !important;
}
@media all and (max-width: 991px) and (min-width: 768px) {
    .dv-UsedCases .card{
        min-height: 485px;
    }
}
@media (max-width:767px){
    .dv-UsedCases .card-img-top{
        margin: 25px auto 0; 
    }
}
@media (max-width: 576px){
    .dv-UsedCases .card{
        min-height: 355px;
    }
}
@media (max-width: 400px){
    .dv-UsedCases .card {
        min-height: 465px;
    }
}