.dv-Neo-banking {
    position: relative;
    padding-bottom: 20px;
}

.dv-Neo-banking .dv-Neo-features {
    
}

.dv-Neo-banking .neo-features {
    text-align: center;
    padding: 5%;
}

.dv-Neo-banking .dv-Neo-features .img-fluid {
    margin: 10px 25px;
    border: 5px solid #ccc;
}

@media (max-width:767px) {
    .dv-Neo-banking .dv-Neo-features .img-fluid {
        margin: 0;
    }
}