.header-global{
  position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    transition: all 0.2s linear;  
}
#navbar {
  transition: top 0.2s linear;
}

#navbar .dropdown-menu.dropdown-menu-right.show {
  transform: none !important;
  top: auto !important;
  left: auto !important;
  right: 0;
  top:68px!important;
}
.header-global .navbar-brand img{
  height: 40px;
}
#navbar {}
.nav-link,.nav-link:hover{
  color: var(--white);
}
.fixed-white-bg .nav-link,.fixed-white-bg .nav-link:hover{
  color: var(--blue);
  text-shadow: none;
}
.topNav {}

.header-global.fixed-white-bg {
  background-color: var(--white);
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.3);
}

.white-logo {
  transition: all 0.2s linear;  
}

.fixed-white-bg .white-logo{
  display: none;
}
.color-logo {
  display: none;
  transition: all 0.2s linear;
}
.fixed-white-bg .color-logo{
  display: block;
}

.dv-product-nav {}

.dv-product-nav-child, .dv-company-nav-child{
  /* background-image:url(../../assets/img/backgrounds/menu-bg.png);
  background-repeat: no-repeat;
  background-position: 0 center;
    background-size: auto 100%; */
    padding: 20px 0 20px 0px;
}
#navbar .dv-product-nav-child.dropdown-menu-right.show{
  right: -80px;
}
#navbar .dv-company-nav-child.dropdown-menu-right.show{
  right: -80px;
}
.navbar-nav .dv-product-nav-child.dropdown-menu-right:before {
  right: 135px;
  left: auto;
}

.navbar-nav .dv-company-nav-child.dropdown-menu-right:before {
  right: 135px;
  left: auto;
}
.support-nav, .login-nav, .logout-nav {}
.support-nav a.btn-support::after, .login-nav a.btn-support::after, .logout-nav a.btn-support::after{
content:'\279F';
margin-left: 5px;
}
.support-nav a.btn-support, .login-nav a.btn-support, .logout-nav a.btn-support{
  background-color: var(--white);
  color: var(--black);
  padding: 0.7rem;
  margin-top: 5px;
  margin-left: 10px;
  text-shadow: none;
  transition: all 0.2s linear;
  border-radius: 5px;
}
.support-nav a.btn-support:hover, .login-nav a.btn-support:hover, .logout-nav a.btn-support:hover{
  background-color: var(--darkgreen);
  color: var(--white);
}
.fixed-white-bg .support-nav a.btn-support, .fixed-white-bg .login-nav a.btn-login, .fixed-white-bg .logout-nav a.btn-logout{
background-color: var(--lightblue);
  color: var(--white);
  transition: all 0.2s linear;
}
.fixed-white-bg .support-nav a.btn-support:hover, .fixed-white-bg .login-nav a.btn-login:hover, .fixed-white-bg .logout-nav a.btn-logout:hover{
  background-color: var(--darkgreen);
  color: var(--white);
}

.dv-product-nav{}

.dv-product-nav-child{}
.dv-menu{
    padding: 0 20px;
}
.img-menu{
  max-width: 50px;
}
.menu-heading{
  font-size: 16px;
  font-weight: 600;
  color: #121D4F;
  font-family: var(--ubuntuBold);
  /* border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-bottom: 5px;    */
}
.menu-items{
  margin-left: 0px;
  margin-bottom: 10px
}
.navbar-expand-lg .navbar-nav .menu-items .nav-link {
  padding: 5px 0;
  font-size: 14px;
  color:var(--lightblue);
  text-shadow: none;
}
.navbar-expand-lg .navbar-nav .menu-items .nav-link:hover, .navbar-expand-lg .navbar-nav .menu-items .nav-link:active {  
  color:var(--darkgreen);
  text-shadow: none;
}
/* .dv-whitelabel{
  border-left: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);  
  width: 220px;
} */
.dv-company-nav{}
.dv-company-nav-child{}
.support-nav{}
.navbar-toggler{
  border: 0px solid var(--white);
  color: var(--white);
}
.fixed-white-bg .navbar-toggler{
  border: 0px solid var(--black);
  color: var(--black);
}
.navbar-toggler-icon:before{
content:'\2630';
font-size: 23px;
}
.nav-dropdown .navbar-toggler{
  border: 0px solid transparent;
  color: var(--black);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 3px;
  right: 0;
}
.navbar-collapse .nav-dropdown .navbar-toggler span.navbar-toggler-icon{
  transform: rotate(0deg);
    position: relative;
    height: auto;
    background: none;
}
.nav-dropdown .navbar-toggler-icon:before{
content:'\2716';
font-size: 29px;
}
.dv-personaldoc-container .login-nav, .dv-main-Activation .login-nav, .dv-address .login-nav, .dv-bank .login-nav, .dv-success .login-nav, .dv-businessdoc .login-nav, .dv-personaldoc .login-nav {
  display: none;
}
.dv-main-registration .logout-nav, .dv-main-registration .logout-nav, .dv-main-login .logout-nav, .dv-main-SetPassword .logout-nav{
  display: none;
}
.dv-registration-form .profile-nav, .dv-main-login .profile-nav, .dv-main-SetPassword .profile-nav {
  display: none;
}
.navbar-nav .dropdown-menu {
  border-radius: 0;
  /* box-shadow: none; */
}
.navbar-nav .dropdown-menu:before{
  /* display: none; */
}
.ng-mglt{
  margin-left: -12px;
}
@media (min-width:768px) {
  .nav-backdrop{

  }
  .dv-menu{
    width: 230px;
  }
}

@media (max-width:991px) {
  #navbar {
    transition: top 0.2s linear;
    position: static;
    overflow: visible;
}
.nav-dropdown .navbar-toggler {
  border: 2px solid transparent;
  color: var(--black);
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 265px;
}
  .collapse.show.navbar-collapse,.navbar-collapse {
    margin: 0;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh !important;
    padding: 0;
    border-radius: 0;
   
}
.navbar-collapse.collapsing {
    display: none;
  }

  .nav-backdrop{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;  
    background-color: rgba(0,0,0,0.5); 

  }
  .nav-dropdown {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 100%;
}
  .navbar-nav .dropdown-menu {
    box-shadow: none;
    min-width: auto;
    /* display: block; */
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
 }
.dv-menu {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.dv-whitelabel{
  margin:15px 0;
  border: 0;
}
.menu-heading {
  white-space: nowrap;
  margin-left: 0;
  margin-bottom: 0;  
}

.support-nav a.btn-support, .support-nav a.btn-support:hover, .fixed-white-bg .support-nav a.btn-support, .fixed-white-bg .support-nav a.btn-support:hover,
.login-nav a.btn-support, .login-nav a.btn-login:hover, .fixed-white-bg .login-nav a.btn-login, .fixed-white-bg .login-nav a.btn-login:hover,
.logout-nav a.btn-support, .logout-nav a.btn-logout:hover, .fixed-white-bg .logout-nav a.btn-logout, .fixed-white-bg .logout-nav a.btn-logout:hover{
  background-color: var(--darkgreen);
  color: var(--white) !important;
  margin-left: 0;
}
.navbar-nav a.btn-support{
  max-width: 120px;
}
.navbar-nav{
  margin-top: 20px;
}
.ng-mglt{
  margin-left: 0;
}
.navbar-nav .sp-img{
   display: none;
}
.navbar-collapse {
  /* position: fixed; */
 
}
}
@media only screen and (max-height: 550px) {
  .nav-dropdown {
    height: 120%;
}
}