.Contact{
    position: fixed;
    bottom: 0;
    right: 0;
    height:70px;
    width: 70px;
    z-index: 150;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.move{
    position: fixed;
    bottom: 0;
    right: 465px;
    height:70px;
    width: 70px;
    z-index: 150;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width:576px){
    .move{
        right: auto;
        left: 0;
}
}