.dv-MoreHelp img{
max-width: 100px;
margin: 0 1.5rem 0;
}
.dv-MoreHelp .card-title{
    font-weight: 600;
    font-size: 16px;
}
.dv-MoreHelp .card{
    border: 0;
    /* background-color: #f2f2f2; 
    border-radius: 20px;*/
    padding: 0 20px;    
    /* box-shadow: 3px 3px 5px rgba(0,0,0,0.2); */
}
.dv-MoreHelp .card-body{
    padding-top: 0.5rem;
}
.dv-MoreHelp .card-text{
    font-size: 14px;
}
.dv-MoreHelp .card-footer{
    background-color: transparent;
    border: 0;
    padding-top: 0;
    padding-bottom: 30px;
}
.dv-MoreHelp a.more{
    color: var(--lightblue);
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.2s linear;
    font-size: 12px;
    cursor: pointer;
}
.dv-MoreHelp a.more:hover{
    color: #233dd2;
}
@media (max-width:767px){
    .dv-MoreHelp img, .card .card-img-top {
        margin: 0 auto;
        margin-top: 30px;
    }
}