.dv-Team{}
.dv-Team .card-deck{}
.dv-Team .card{
    text-align: center;
    -webkit-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.2);
box-shadow: 3px 3px 7px 1px rgba(0,0,0,0.2);
}
.dv-Team .card .card-img-top{
    width: 120px;
    margin: 40px auto 0px;
}
.dv-Team .card-body{}
.dv-Team .card-title{
    font-size: 22px;
    line-height: 1.4;
    font-weight: 600;
    color: var(--blue);
}
.dv-Team .card-text{}


@media (max-width:767px){
    .card-deck .card {
        margin-bottom: 55px;
    }
}
